.lifecycle-div .lifecycle-tree {
    border: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 10px;
    overflow: auto;
}
.lifecycle-div h4.lifecycle-title {
    color: #f37731;
    text-align: center;
    font-size: 15px;
    margin: 15px 0 0;
    font-weight: bold;
}
.lifecycle-div .jstree-default .jstree-anchor {
    width: 100%;
}
.lifecycle-div .jstree-leaf>.jstree-ocl {
    width: 0;
}
.lifecycle-div .jstree-default>.jstree-container-ul>.jstree-node {
    margin-bottom: 2px;
}
.jstree-default .jstree-icon {
    width: 24px !important;
}
#rightSideDv {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
}
.count-selective-task {
    border-radius: 30px;
    background-color: #2fbabc;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 9px;
    font-size: 10px;
    margin-left: 2px;
}
.header-banner {
    height: 125px;
    background-color: #f6f6f6;
    
}
.banner-img-div {
    -webkit-box-shadow: 4px 0 5px -2px rgba(136, 136, 136, 0.5);
    box-shadow: 4px 0 5px -2px rgba(136, 136, 136, 0.5);
    height: 100%;
    padding: 16px 30px;
}
.banner-img-div img {
    height: 90px;
}
.div-right {
    -webkit-box-shadow: -8px 0px 8px -5px rgba(136, 136, 136, 0.5);
    box-shadow: -8px 0px 8px -5px rgba(136, 136, 136, 0.5);
    height: 100%;
    padding: 5px;
}
.height-100 {
    height: 100%;
}
.img-logo {

}
.banner-title {
    font-size: 32px;
    color: #2fbabc;
    text-align: center;
    margin: 15px 3px 0;
    padding: 0;
}
.date-tt {
    display: block;
    color: #ff5500;
    font-size: 15px;
}
.date-tt-val {
    display: block;
    color: #3f9be1;
    font-size: 15px;
    margin-top: 3px;
}
.line-s {
    border-bottom: 1px solid #9d9d9d;
    margin: 10px 0;
}
.first-block-l {
    padding: 13px 21px;
}
.cnt-anket {
    color: #676767;
    font-size: 15px;
    margin-top: 38px;
    display: block;
}
.circle-cnt {
    font-size: 38px;
    border: 1px solid #ff5500;
    color: #3e9de1;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 0;
}
.pad-0 {
    padding: 0;   
}
.cnt-c {
    padding: 10px 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .banner-title {
        font-size: 25px;
    }
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}