.vr-workspace-theme34 {
    display: flex;
    overflow: hidden;
}
.vr-workspace-theme34 table tbody tr td ul.navbar-nav.star-rating {
    display: -webkit-inline-box;
}
.vr-workspace-theme34 .grid .activeMenu {
    border: 1px solid rgba(0,0,0,0.1);
}
.vr-workspace-theme34 .sidebar {
    background: #FFF;
    border: 0;
    height: auto;
}
.vr-workspace-theme34 .row.mt10 {
    margin-left: 0;
    margin-right: 0;
}
.vr-workspace-theme34 .close-btn {
    background: #7f849a;
    position: relative;
    border-radius: 0;
    border: 0;
}
.vr-workspace-theme34 .close-btn > i {
    color: #FFF;
}
.vr-workspace-theme34 .left-side .mt0 img {
    margin: 0 auto 0;
}
.vr-workspace-theme34 .right-side {
    float: right;
    width: 82%;
}
.vr-workspace-theme34 #stick-content {
    min-height: 100px;
}
.vr-workspace-theme34 .workspace-main-container {
    border-radius: 0px;
    min-height: 300px;
    overflow: auto;
    margin: 0;
}
.vr-workspace-theme34 #project-info {
    color: #6e6e6e;
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.vr-workspace-theme34 #project-info .main-title {
    margin: 10px 5%;
    clear: both;
}
.vr-workspace-theme34 #project-info .main-title > .left-side-title {
    color: #cacaca;
    text-transform: uppercase;                
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
}
.vr-workspace-theme34 #project-info .main-title > i.left-side-title-icon {
    color: #fff;  
    background: #2574a9;
    padding: 5px 7px;
    border-radius: 50%;
}
.vr-workspace-theme34 #project-info .project-info-row .control-pos {
    padding-left: 5px;
    display: table;
}
.vr-workspace-theme34 #project-info .purpose {
    padding: 0 0px 0 50px;
}
.vr-workspace-theme34 #project-info .project-info-row {
    padding: 10px 0 0;
    clear: both;
    font-size: 13px;
}
.vr-workspace-theme34 #project-info .project-info-row-left {
    padding: 10px 0 0;
    text-align: left !important;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions {
    padding: 0 10px 0 0;
    margin-left: 0;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions1 {
    padding: 0 10px;
    float: left;
    color: #969696;
    margin-left: 6px;
    font-size: 12px;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions2 {
    padding: 0 10px;
    float: right;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions2 .control-position {
    color: #000000;
    font-size: 18px;
    font-size: 12px;
    font-weight: bold;
}
.vr-workspace-theme34 #project-info .position-highlight {
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: -11px;
}
.vr-workspace-theme34 #project-info .position-highlight-full {
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -11px;
    margin-right: 12px;
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: -11px;
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: -11px;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions .control-position {
    margin-left: 10px;
    color: #222;
    font-weight: bold;
    line-height: normal;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions .control-position-nobold {    
    color: #333;
    margin-top: 2px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions .control-position-inline {
    color: #000;
    font-size: 15px;
    margin-left: 25px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
}
.vr-workspace-theme34 #project-info .project-info-row .header-positions .label-position {
    color: #969696;
    margin-left: 0;
    line-height: normal;
}
.vr-workspace-theme34 #project-info .project-info-row .label-pos {
    color: #020202;
    width: 30%;
    float: left;
    text-align: right;
    font-weight: bold;    
}
.vr-workspace-theme34 #project-info .project-info-row .name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.vr-workspace-theme34 .ws-page-content {
    overflow: hidden;
    clear: both;
}
.vr-workspace-theme34 .ws-menu {
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-bottom: 1px solid #CCC;
}
.vr-workspace-theme34 .ws-menu .workspace-menu {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: none;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li {
    text-align: center;
    background: inherit;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li a {
    color: #405758;
    border-radius: 0px;
    margin: 0;
    outline: none;
    font-weight: bold;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li.tabdrop a {
    text-align: left;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li a:hover,
.vr-workspace-theme34 .ws-menu .workspace-menu li a:focus,
.vr-workspace-theme34 .ws-menu .workspace-menu li a:active {
    background: none;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li a:hover i {
    color: #4ca8e6;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li i {
    color: #c5c5c5;
    font-size: 18px;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li:last-child {
    border-right: none
}
.vr-workspace-theme34 .ws-menu .workspace-menu li.active a {
    background: none;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li.active > a {
    border-bottom: 2px solid var(--root-color1) !important;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li.active i {
    color: #4ca8e6;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li i {
    display: none;
}
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu {
    min-width: 150px;
    display: none;
    position: absolute; 
    z-index: 99;
    background: #373c43;
    margin-top: 2px;
    padding: 0;
}
.vr-workspace-theme34 .card {
    padding: 0;
}
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu li {
    display: contents;
    list-style: none;
}
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu li a {
    padding: 5px 10px;
    color: #FAFAFA;
    border-bottom: 1px solid #4e545c;
    text-align: left;
    white-space: nowrap;
}
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu li a:last-child {
    border-bottom: 0;
}
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu li a:hover,
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu li a:active,
.vr-workspace-theme34 .ws-menu ul.workspace-menu ul.sub-menu li a:focus {
    background: #4e545c;
}
.vr-workspace-theme34 .ws-menu ul.workspace-menu li:hover > ul.sub-menu {
    display: inherit !important;
    list-style: none;
}
.vr-workspace-theme34 .workspace-part > div.row:first-child {
    padding: 5px 10px 10px 10px;
    margin: 0;
}
.vr-workspace-theme34 .package-meta {
    background: #e7e7e7;
}
.vr-workspace-theme34 .package-div {
    background: #fff;
    padding-top: 10px;
    margin-bottom: 11px;
}
.vr-workspace-theme34 .package-div.odd,
.vr-workspace-theme34 .package-div.odd .package-tab {
    background: #ebebeb;
}
.card-subject-blue.display{
    position: absolute;
    left: 0px;
    top: -5px;
    color:#000 !important;
}
.vr-workspace-theme34 .package-tab-name {
    font-size: 15px;
    color: #000;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.vr-workspace-theme34 .pf-carousel-1,
.vr-workspace-theme34 .pf-carousel-2,
.vr-workspace-theme34 .pf-carousel-3 {
    margin-top: 30px;
}
.vr-workspace-theme34 .pf-carousel-2 .owl-carousel .owl-item {
    width: 150px !important;
}
.vr-workspace-theme34 .pf-carousel-2 .product-item,
.vr-workspace-theme34 .pf-carousel-3 .product-item {
    border: 1px transparent solid;
}
.vr-workspace-theme34 .pf-carousel-2 .product-item:hover,
.vr-workspace-theme34 .pf-carousel-3 .product-item:hover {
    border: 1px #000 solid;
}
.vr-workspace-theme34 .pf-carousel-2 .pi-img-wrapper img {
    border-radius: 50%;
    height: 130px !important;
    width: 130px !important;
}
.vr-workspace-theme34 .pf-carousel-3 .pi-yellow-bg-title .pi-yellow-bg-title-name1 {
    height: 27px;
    overflow: hidden;
}
.vr-workspace-theme34 #amactivityMaindWindow {
    background: #fff;
}
.vr-workspace-theme34 .card-package-body {
    background: #fff;
    padding: 5px 10px;
}
.vr-workspace-theme34 .workspace-part {
    overflow: hidden;
}
.vr-workspace-theme34 .card-package-body {
    background: none !important;
    padding: 0 !important;
}
@media screen and (max-width: 1366px) {
    .vr-workspace-theme34 .ws-menu .workspace-menu li {
        padding: 2px 5px;
        margin-top: 3px;
    }
    .vr-workspace-theme34  .navbar-nav>li>a {
        line-height: 10px;
    }
    .vr-workspace-theme34 .workspace-main-container {
        padding-top: 14px !important;
    }
}
.vr-workspace-theme34 .left-side .workspace-menu {
    list-style: none;
    padding-left: 0;
    background: #FFF;
}
.vr-workspace-theme34 .left-side .workspace-menu > li > a {
    color: #222;
    background: #FFF;
    padding: 6px 10px 5px 21px;
    display: block;
    margin: 0;
    border: 0px;
    text-decoration: none;
    border-bottom: 1px #e0e0e0 solid;
}
.vr-workspace-theme34 .left-side .workspace-menu > li > a > i {
    display: none;
}
.vr-workspace-theme34 .left-side .workspace-menu > li > a > span.title {
    font-size: 13px;
    line-height: 13px;
}
.vr-workspace-theme34 .left-side .workspace-menu > li {
    display: block;
    margin: 0;
    padding: 0;
}
.vr-workspace-theme34 .left-side .workspace-menu > li > a:hover, 
.vr-workspace-theme34 .left-side .workspace-menu > li.active > a {
    background-color: var(--root-color02) !important;
}
.vr-workspace-theme34 .left-side .workspace-menu > li.active > a > span.title {
    font-weight: bold;
}
.vr-workspace-theme34 .left-side .workspace-menu > li > a:before {
    content: "\e9c7";
    font-family: icomoon;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    margin-top: -.5rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    color: #aaa;
}
.vr-workspace-theme34 .ws-page-sidebar .slimScrollDiv {
    height: auto !important;
}
.vr-workspace-theme34 .ws-page-sidebar .slimScrollDiv .workspace-menu {
    height: auto !important;
}
.vr-workspace-theme34 .width-100 {
    width: 100% !important;
    padding:0 !important;
}
.vr-workspace-theme34 .timelineUploadBG {
    position: absolute;
    top: 65px;
    right: 3px;
}
.vr-workspace-theme34 .uploadFile {
    background: url('ws_cover_change.png') no-repeat;
    height: 32px;
    width: 32px;
    overflow: hidden;
    cursor: pointer;
}
.vr-workspace-theme34 .uploadFile input {
    filter: alpha(opacity=0);
    opacity: 0;
    margin-left: -110px;
}
.vr-workspace-theme34 .custom-file-input {
    height: 25px;
    cursor: pointer;
}
.ws_cover_div .jcrop-holder {
    margin: 0 auto;
}
.vr-workspace-theme34 .display-block {
    display: block !important;
    float:left !important; 
}
.vr-workspace-theme34 .margin-padding {
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    padding: 4px !important;
}
.vr-workspace-theme34 .width-0 {
    width:inherit !important;
}
.vr-workspace-theme34 .font-size-11 {
    font-size: 11px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    float: left !important;
    text-align: left !important;
}
.vr-workspace-theme34 .margin-padding .box {
    height: 27px;
}
.vr-worspace-theme19 .active>a {
    color: #CCC;
}
.vr-workspace-theme34 .ws-bg {
    background: #9ea2b3;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto !important;
    margin-top: 0 !important;
}
.vr-workspace-theme34 .package-div {
    background-color: #fff;
    padding:10px;
}
.vr-workspace-theme34 .package-meta {
    background-color: inherit !important;
}
.vr-workspace-theme34 .left-side .profile-userpic img {
    height: 160px !important;
    width: 160px !important;  
    margin: 0 auto;
}
.vr-workspace-theme34 h4.first-pos {
    height: 30px;
}
.vr-workspace-theme34 .right-side .emptyit .first-pos { 
    margin-left: 0 !important;
}
.vr-workspace-theme34 .left-side {
    padding: 0;
    min-height: 411px;
    background-color: #ffffff;
    height: 100vh;
    border-right: 1px solid #e0e0e0;
    margin-right: 0.5rem;
    width: 14.3rem;
}
.vr-workspace-theme34 .ws-menu .workspace-menu li {
    float: left;
}
.vr-workspace-theme34 .left-side .profile-userpic {
    padding-top: 30px !important;
}
.vr-workspace-theme34 .workspace-part .meta-toolbar {
    background: none !important;
}
.vr-workspace-theme34 .workspace-part .meta-toolbar .bp-btn-back {
    display: none;
}
.vr-workspace-theme34 .card.ws-widget-light {
    background-color: #fff !important;
}
.vr-workspace-theme34 .card.ws-widget-light > .card-title > .caption.caption-md > .caption-subject {
    color: #505050 !important;
}
.vr-workspace-theme34 .widget-body .viewer-container {
    margin-top: 0 !important;
}
.vr-workspace-theme34 .thumbnail {
    padding: 0px !important;
    border: none !important;
}
.vr-workspace-theme34 .ws-department-icon {
    background-image: url(../img/department.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .ws-position-icon {
    background-image: url(../img/position.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .ws-type-icon {
    background-image: url(../img/type.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .ws-status-icon {
    background-image: url(../img/status.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .ws-salary-icon {
    background-image: url(../img/salary.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .ws-start-date-icon {
    background-image: url(../img/start_date.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .ws-work-start-date-icon {
    background-image: url(../img/work_start_date.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme34 .card.light .card-title .caption {
    font-size: 15px !important;
}
.vr-workspace-theme34 .card:not([class*="bl-sectioncode"]) {
    border-radius: 0 !important;
}
.vr-workspace-theme34 .mddashboard-title, .vr-workspace-theme34 .text-service {
    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: inherit;
}
.vr-workspace-theme34 .ws-button-row {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;    
}
.vr-workspace-theme34 .ws-button-row button.btn {
    padding: 3px 7px 4px 7px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: #00A75F;
}
.vr-workspace-theme34 .ws-button-row.ws-button-row-blue button.btn {
    background-color: #3379B5;
}
.vr-workspace-theme34 .ws20-facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme34 .ws20-twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme34 .ws20-linkedin {
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme34 .ws20-google {
    background-image: url(../img/google.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme34 .social-row {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.vr-workspace-theme34 .jeasyuiTheme1 .datagrid-header-row, .datagrid-row {
    height: 20px;
}
.vr-workspace-theme34 .sidebar-content .sidebar-user .card-body {
    padding: 1.25rem;
    border-bottom: 1px solid #e0e0e0;
}
.vr-workspace-theme34 .backbtn i {
    font-size: 34px;
    color: #000;
}
.vr-workspace-theme34 .workspace-main {
    margin-top: 0;
    padding-top: 0;
}
.vr-workspace-theme34 .workspace-main .ws-page-container #wsForm ul.bp-addon-tab.nav-tabs {
    margin: 0 0 10px 0;
}
.vr-workspace-theme34 .workspace-main .ws-page-container #wsForm ul.bp-addon-tab.nav-tabs > li > a {
    padding: 7px;
}
.vr-workspace-theme34 .layout-theme13 {
    padding: 20px;
}
.vr-workspace-theme34 .title2 {
    font-size: 22px;
}
/******************************************************************************/

.dvecommerce_tree .vr-workspace-theme34 .dv-process-buttons {
    margin-top: -8px;
}
.dvecommerce_tree.dv2 .vr-workspace-theme34 .package-div.odd {
    background: #FFF;
}
.vr-workspace-theme34 .dvecommerce {
    margin: 0;
}