.vr-workspace-theme.card.light.shadow {
    background: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.vr-workspace-theme5 .close-btn > i {
    color: #fff;
}
.vr-workspace-theme5 .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #515151;
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 11;
}