<table border="0" style="width: 100%;">
    <tbody>
        <tr>
            <td style="border-bottom: 1px #000 solid; padding: 0 0 5px 0;">
                <table border="0" width="100%" style="width: 100%; table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle; width: 110px">
                                <img src="https://e.notary.mn/storage/uploads/process/config-file_1581161339224735.png" style="width: 100px;"/>
                            </td>
                            <td style="font-family: Tahoma; font-size: 12px;">
                                <strong>{companyName}</strong><br />
                                ТТД: {vatNumber}<br />
                                ТТН: {vatName}<br />
                                {contactInfo}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table border="0" width="100%" style="width: 100%; table-layout: fixed; font-family: Tahoma; font-size: 12px; margin: 5px 0 8px 0;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; vertical-align: top; width: 50%">
                                Нотариатч: {customername}
                            </td>
                            <td style="text-align: right; vertical-align: top;">
                                Билл #: {invoiceNumber}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; vertical-align: top;">
                                Огноо: {date}
                            </td>
                            <td style="text-align: right; vertical-align: top;">
                                Цаг: {time}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table border="0" width="100%" style="width: 100%; table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td style="width: 100%; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: left;">
                                Барааны нэр
                            </td>
                            <td style="width: 65px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                Үнэ
                            </td>
                            <td style="width: 35px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                Тоо
                            </td>
                            <td style="width: 85px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                Дүн
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: left;">
                                {baraaniiNer}
                            </td>
                            <td style="width: 65px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                {baraaniiUne}
                            </td>
                            <td style="width: 35px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                {baraaniiToo}
                            </td>
                            <td style="width: 85px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                {baraaniiSum}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: left;">
                                Бусад
                            </td>
                            <td style="width: 65px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                {tekhnic}
                            </td>
                            <td style="width: 35px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                1
                            </td>
                            <td style="width: 85px; border-top:1px #000 dashed; border-bottom:1px #000 dashed; font-family: Tahoma; font-size: 12px; font-weight: 600; padding: 2px 0; text-align: right;">
                                {tekhnic}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr> 
        <tr>
            <td style="border-top:1px #000 dashed; padding: 4px 0;">
                <div style="height: 5px"></div>
                <table border="0" width="100%" style="width: 100%; table-layout: fixed; font-family: Tahoma; font-size: 12px; font-weight: normal;">
                    <tbody>
                        <tr>
                            <td style="text-align: right; padding: 0; width: 100%;">НИЙТ ДҮН:</td>
                            <td style="text-align: right; padding: 0; width: 35px; font-weight: bold">{totalItemCount}</td>
                            <td style="text-align: right; padding: 0; width: 85px;">{totalAmount}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding: 0; width: 100%;">НӨАТ:</td>
                            <td style="text-align: right; padding: 0; width: 35px; font-weight: bold"></td>
                            <td style="text-align: right; padding: 0; width: 85px;">{vatAmount}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding: 0; width: 100%;">ТӨЛСӨН ДҮН:</td>
                            <td style="text-align: right; padding: 0; width: 35px; font-weight: bold"></td>
                            <td style="text-align: right; padding: 0; width: 85px;">{paidAmount}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0; border-top: 1px #000 solid; color: #ffffff"></td>
        </tr>
        <tr>
            <td style="padding: 5px 0 0 0; text-align: center;">
                <table border="0" width="100%" style="width: 100%; table-layout: fixed; font-family: Tahoma; font-size: 12px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; width: 55px; padding: 0;"><strong>ДДТД:</strong></td>
                            <td style="text-align: left; font-size: 14px;">{ddtd}</td>
                        </tr>
                    </tbody>	
                </table>	
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 0 0 0; text-align: center;">
                {serialText}       	
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 0 0 0; text-align: center;">
                {qrCodeLottery}       	
            </td>
        </tr>
    </tbody>
</table>
<div style="page-break-after: always;"></div>