.vr-workspace-theme13 {
    
    color: #596679;
    line-height: 20px;
}
.vr-workspace-theme13 .workspace-main-container {
    padding: 5px 0 0 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/* ======== Menu ======== */
.vr-workspace-theme13 .ws-menu {
    margin-top: 10px;    
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: none;
    width: 100%;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li {
    display: table-cell;
    width: 1%;
    padding: 0;
    float: none;
    vertical-align: middle;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 15px;	
    color: #555;
    font-size:13px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    background-color: #eeeeee;
    text-align: center;
    line-height: 12px;
    min-height: 40px;
    max-height: 40px;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li > a > span.title {
    display: block;
    width: 100%;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li.active > a > span.title {
    color: #000;
    font-weight: bold;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:not(:first-child) > a {
    padding-left: 34px;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:not(:first-child) > a:before {
    width: 0px;
    height: 0px;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #ffffff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:not(:last-child) > a {
    margin-right: 6px;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:not(:last-child) > a:after {
    width: 0px;
    height: 0px;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #eeeeee;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:first-child > a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:last-child > a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:hover > a {
    background-color: #d5d5d5;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:hover > a:before {
    border-right-color: #d5d5d5;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:hover > a:after {
    border-left-color: #d5d5d5;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu > li:hover > a > span.title {
    color: #000;
}

/* Hide Dropdowns by Default */
.vr-workspace-theme13 .ws-menu ul.workspace-menu ul.sub-menu {
    display: none;
    position: absolute; 
    z-index: 100;
    padding: 0; 
    left: 0;
}

/* Display Dropdowns on Hover */
.vr-workspace-theme13 .ws-menu ul.workspace-menu li:hover > ul.sub-menu {
    display:inherit !important;    
}

/* Fisrt Tier Dropdown */
.vr-workspace-theme13 .ws-menu ul.workspace-menu ul.sub-menu li {
    width:180px;
    float:none;
    display:list-item;
    position: relative;
    list-style: none;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu ul.sub-menu > li > a {
    display: block;
    width: 100%;
    padding:5px 5px 5px 10px;	
    background-color: #eee;
    color: #555;
    font-size:13px;
    text-transform: uppercase;
    text-decoration: none;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu ul.sub-menu > li.active > a > span.title {
    font-weight: bold;
}
.vr-workspace-theme13 .ws-menu ul.workspace-menu ul.sub-menu > li:hover > a {
    background-color: #d5d5d5;
}

/* Second, Third and more Tiers	*/
.vr-workspace-theme13 .ws-menu ul.workspace-menu ul.sub-menu ul li {
    position: relative;
    top:-60px; 
    left:170px;
}

.vr-workspace-theme13 .ws-page-header {
    
    transition: margin 0.3s;
}
.vr-workspace-theme13 .ws-header-name-1 {
    color: #999;
    text-transform: uppercase;
}
.vr-workspace-theme13 .ws-header-name-2 {
    color: #222;
    font-size: 30px;
    line-height: 23px;
    margin-top: 5px;
}
.vr-workspace-theme13 .ws-page-header, 
.vr-workspace-theme13 .ws-page-sidebar-wrapper, 
.vr-workspace-theme13 .ws-page-content-wrapper, 
.vr-workspace-theme13 .ws-page-footer {
    transition: margin 0.3s;
}
.vr-workspace-theme13 .ws-page-sidebar {
    width: 370px;
    float: left;
    position: relative;
    margin-right: -100%;
    border-radius: 0px;    
}
.vr-workspace-theme13 .ws-page-content-wrapper {
    float: left;
    width: 100%;
    padding: 0;
}
.vr-workspace-theme13 .ws-page-content-wrapper .ws-page-header-content {
    margin-left: 370px;
}
.vr-workspace-theme13 .ws-header-part {
    float: right;
    margin-left: 5px;
    padding: 2px 5px;
    width: 180px;
    height: 90px;
    overflow: hidden;
    background-color: #F4E0A1;
    color: #222;
}
.vr-workspace-theme13 .ws-header-part span.title {
    display: block;
    font-size: 12px;
    color: #555;
}
.vr-workspace-theme13 .ws-header-part span.value {
    display: block;
    font-size: 15px;
    color: #111;
    line-height: 16px;
}
.vr-workspace-theme13 .ws-header-part span.value ul {
    margin-bottom: 2px;
    padding-left: 15px !important;
}

.vr-workspace-theme13 .package-tab-name {
    border-bottom: 1px #E64A19 solid;
}