.vr-workspace-theme29 {
    
    overflow: hidden;
}
.vr-workspace-theme29 .content {
    padding: 1.25rem 1.25rem !important;
}
.body-left-menu-style .vr-workspace-theme29 {
    margin: -10px -10px 0 -10px;
}
.page-content.vr-workspace-theme29 {
    display: inherit;
}
.vr-workspace-theme29 .card .card-header {
    padding: .9375rem 1.25rem;
}
.vr-workspace-theme29 .card .card-body {
    padding: 1.25rem;
}
@media (min-width: 768px) {
    .vr-workspace-theme29 .sidebar-expand-md.sidebar-component-right {
        margin-left: 1.25rem;
    }
}
.vr-workspace-theme29 .media {
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.vr-workspace-theme29 .general_number {
    background: #F2635F;
    width: 150px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 44px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
}
.vr-workspace-theme29 .general_number .numb {
    font-size: 44px;
}
.vr-workspace-theme29 .general_number .type {
    margin-top: 5px;
    font-size: 18px;
    border-top: 1px solid #f59a97;
    padding-top: 10px;
}
.vr-workspace-theme29 .posname {
    font-size: 15px;
    color: #f2635f;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
.vr-workspace-theme29 .problem {
    margin-right: 20px;
    margin-bottom: 0;
}
.vr-workspace-theme29 .text-muted {
    color: #777 !important;
}
.vr-workspace-theme29 .btn.clock {
    font-size: 22px;
    padding: 0 20px;
}
.vr-workspace-theme29 .media-list-linked .media {
    padding: 0rem 1.25rem;
}
.vr-workspace-theme29 .table-xs td, .table-xs th {
    padding: .5rem 1.25rem;
}
.vr-workspace-theme29 img.main_img {
    width: 110px;
    border-radius: 8px;
    margin-right: 15px;
}
.vr-workspace-theme29 .breadcrumb-line {
    margin-bottom: 0;
}
.vr-workspace-theme29 .header_icon_box a i {
    font-size: 22px;
}
.vr-workspace-theme29 .text-green {
    color: green !important;
}
.vr-workspace-theme29 .text-red {
    color: #FF0000 !important;
}
.vr-workspace-theme29 .header_icon_box h5 {
    line-height: normal;
}
.vr-workspace-theme29 .sidebar {
    margin-left: 0;
    background: #FFF;
    border: 0;
    height: auto;
    margin-right: 12px;
}
.vr-workspace-theme29 .list-inline-dotted .list-inline-item:not(:last-child):after {
    display: none;
}
.treeview-maincontent .btn-icon-only{
    display: none;
}
.vr-workspace-theme29 .ws-menu {
    
}
.vr-workspace-theme29 .ws-bg {
    /*background: #b3b3b3;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height: 63px;
}
.vr-workspace-theme29 .hide {
    /*display: none !important;*/
}
.vr-workspace-theme29 .close-btn {
    background: #7f849a;
    position: relative;
    border-radius: 0;
    border: 0;
}
.vr-workspace-theme29 .close-btn > i {
    color: #FFF;
}
.vr-workspace-theme29 .left-side {
    width: 18%;
    float: left;
    padding: 0 10px 0 5px;
}
.vr-workspace-theme29 .left-side .profile-userpic {
    padding-top: 25px;
}
.vr-workspace-theme29 .left-side .profile-userpic img {
    border-radius: 10px;
    border: 1px solid #fff;
    height: 160px !important;
    width: 160px !important;
    margin: 10px auto 0;
    background: #e7e7e7;

}
.vr-workspace-theme29 .left-side .mt0 img {
    margin: 0 auto 0;
}
.vr-workspace-theme29 .right-side {

}
.vr-workspace-theme29 #stick-content {
    min-height: 100px;
}
.vr-workspace-theme29 .workspace-main-container {
    border-radius: 0px;
    min-height: 300px;
    overflow: auto;
    margin: 0;
    background: #fff;
    padding: 0 5px;
}
.vr-workspace-theme29 #project-info {
    /*padding: 10px 25px 30px;*/
    color: #6e6e6e;
}
.vr-workspace-theme29 #project-info .main-title {
    margin: 10px 5%;
    clear: both;
}
.vr-workspace-theme29 #project-info .main-title > .left-side-title {
    color: #cacaca;
    text-transform: uppercase;                
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
}
.vr-workspace-theme29 #project-info .main-title > i.left-side-title-icon {
    color: #fff;  
    background: #2574a9;
    padding: 5px 7px;
    border-radius: 50%;
}
.vr-workspace-theme29 #project-info .project-info-row .control-pos {
    padding-left: 5px;
    display: table;
}
.vr-workspace-theme29 #project-info .purpose {
    padding: 0 0px 0 50px;
}
.vr-workspace-theme29 #project-info .project-info-row {
    padding: 10px 0 0;
    clear: both;
    font-size: 14px;
}
.vr-workspace-theme29 #project-info .project-info-row-left {
    padding: 10px 0 0;
    text-align: left !important;
}
.vr-workspace-theme29 h4.first-pos {
    color: #405758;
    /*text-transform: uppercase;*/
    /*text-align: center;*/
    font-size: 21px;
    font-weight: bold;
    /*    position: absolute;
        left: 1%;
        top: 0px;*/
    
    margin: 16px 0;
    height: 16px;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions {
    padding: 0 10px;
    margin-left: 20px;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions1 {
    padding: 0 10px;
    float: left;
    color: #969696;
    margin-left: 6px;
    font-size: 12px;
    
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions2 {
    padding: 0 10px;
    float: right;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions2 .control-position {
    color: #000000;
    font-size: 18px;
    font-size: 12px;
    font-weight: bold;
    
}
.vr-workspace-theme29 #project-info .position-highlight {
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: -11px;
}
.vr-workspace-theme29 #project-info .position-highlight-full {
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -11px;
    margin-right: 12px;
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: -11px;
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: -11px;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions .control-position {
    margin-left: 26px;
    color: #000;
    font-weight: bold;
    line-height: normal;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions .control-position-nobold {    
    /*float: left;*/
    color: #333;
    margin-top: 2px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions .control-position-inline {
    color: #000;
    font-size: 15px;
    margin-left: 25px;
    height: 18px;
    
    font-size: 12px;
    font-weight: bold;
}
.vr-workspace-theme29 #project-info .project-info-row .header-positions .label-position {
    color: #969696;
    margin-left: 26px;
    line-height: normal;
}
.vr-workspace-theme29 #project-info .project-info-row .label-pos {
    color: #020202;
    width: 30%;
    float: left;
    text-align: right;
    font-weight: bold;    
}
.vr-workspace-theme29 #project-info .project-info-row .name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.vr-workspace-theme29 .ws-page-container {
    /*border-top: 1px solid #c3c3c3;*/
}

.vr-workspace-theme29  .card-subject-btn-border {
    display: none;
}
.vr-workspace-theme29 .ws-page-content {
    overflow: hidden;
    clear: both;
}

.vr-workspace-theme29 .ws-menu {
    
    display: flex;
}
.vr-workspace-theme29 .ws-menu .workspace-menu {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: none;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li {
    /*border-right: 1px solid #91959c;*/
    text-align: center;
    padding: 1px 5px;
    background: inherit;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li a {
    color: #405758;
    font-size: 14px;
    /*text-transform: uppercase;*/
    border-radius: 0px;
    text-align: center;
    margin: 0;
    outline: none;
    border: none;
    padding: 10px;
    
    font-weight: bold;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li.tabdrop a {
    text-align: left;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li a:hover,
.vr-workspace-theme29 .ws-menu .workspace-menu li a:focus,
.vr-workspace-theme29 .ws-menu .workspace-menu li a:active {
    background: none;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li a:hover i {
    color: #4ca8e6;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li i {
    color: #c5c5c5;
    font-size: 18px;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li:last-child {
    border-right: none
}
.vr-workspace-theme29 .ws-menu .workspace-menu li.active a {
    color: #fff;
    border: none;
    background: none;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li.active {
    /*background: #ffffff;*/
    border-bottom: 2px solid #54aab7;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li.active i {
    color: #4ca8e6;
}
.vr-workspace-theme29 .ws-menu .workspace-menu li i {
    display: none;
}
.vr-workspace-theme29 .ws-menu ul.workspace-menu ul.sub-menu {
    display: none;
    position: absolute; 
    z-index: 100;
    padding: 0; 
    left: 0;
    background: #373c43;
    margin-top: 2px;
}
.vr-workspace-theme29 .ws-menu ul.workspace-menu ul.sub-menu li {
    margin: 5px 0;
    list-style: none;
    background: #373c43;
    text-align: left;
    padding: 0 5px;
    border: none;
    width: 150px;
}
.vr-workspace-theme29 .ws-menu ul.workspace-menu ul.sub-menu li a {
    padding: 0; 
    background: #373c43;
    font-size: 14px;
    text-transform: none;
    color: #FAFAFA;
}
.vr-workspace-theme29 .ws-menu ul.workspace-menu li:hover > ul.sub-menu {
    display: inherit !important;    
}

.vr-workspace-theme29 .workspace-part > div.row:first-child {
    padding: 10px;
    margin: 0;
}
.vr-workspace-theme29 .profile-userpic img{
    max-width: 150px;
}
.vr-workspace-theme29 .package-meta {
    background: #e7e7e7;
}
.vr-workspace-theme29 .package-div {
    background: #fff;
    padding-top: 10px;
    margin-bottom: 11px;
}
.vr-workspace-theme29 .package-div.odd,
.vr-workspace-theme29 .package-div.odd .package-tab {
    background: #ebebeb;
}
.vr-workspace-theme29 .package-tab {
    background: #fff;
    padding: 15px;
    margin-top: -15px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.vr-workspace-theme29 .package-tab-name {
    font-size: 15px;
    color: #000;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 9;
}
.vr-workspace-theme29 .pf-carousel-1,
.vr-workspace-theme29 .pf-carousel-2,
.vr-workspace-theme29 .pf-carousel-3
{
    margin-top: 30px;
    
}
.vr-workspace-theme29 .pf-carousel-2 .owl-carousel .owl-item {
    width: 150px !important;
}
.vr-workspace-theme29 .pf-carousel-2 .product-item,
.vr-workspace-theme29 .pf-carousel-3 .product-item {
    border: 1px transparent solid;
}
.vr-workspace-theme29 .pf-carousel-2 .product-item:hover,
.vr-workspace-theme29 .pf-carousel-3 .product-item:hover {
    border: 1px #000 solid;
}
.vr-workspace-theme29 .pf-carousel-2 .pi-img-wrapper img {
    border-radius: 50%;
    height: 130px !important;
    width: 130px !important;
}
.vr-workspace-theme29 .pf-carousel-3 .pi-yellow-bg-title .pi-yellow-bg-title-name1 {
    height: 27px;
    overflow: hidden;
}
.vr-workspace-theme29 #amactivityMaindWindow {
    background: #fff;
}
.vr-workspace-theme29 .card-package-body {
    background: #fff;
    padding: 5px 10px;
}
.vr-workspace-theme29 .workspace-part {
    overflow: hidden;
}
.vr-workspace-theme29 .card-package-body {
    background: none !important;
    padding: 0 !important;
}
.vr-workspace-theme29 .package-tab.tabbable-line > .nav-tabs {
    margin-bottom: 0 !important;
    margin-top: -28px;
}

@media screen and (max-width: 1366px) {
    .vr-workspace-theme29 .ws-menu .workspace-menu li {
        padding: 2px 5px;
        margin-top: 3px;
    }
    .vr-workspace-theme29 .ws-menu ul.workspace-menu ul.sub-menu {
        margin-top: 5px;
    }
    .vr-workspace-theme29  .navbar-nav>li>a {
        line-height: 10px;
    }
    .vr-workspace-theme29 .ws-menu .workspace-menu li a {
        font-size: 12px;
    }
    .vr-workspace-theme29 .workspace-main-container {
        padding-top: 14px !important;
    }
}
@media screen and (min-width: 1500px) {
    .vr-workspace-theme29 .ws-menu .workspace-menu li a {
        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (min-width: 1600px) {
    .vr-workspace-theme29 .ws-menu .workspace-menu li {
        padding: 1px 5px;
        /*margin-top:4px;*/
    }
}
.vr-workspace-theme29 .left-side .workspace-menu {
    list-style: none;
    padding-left: 0;
    background: #FFF;
}
.vr-workspace-theme29 .left-side .workspace-menu > li > a {
    border-left: none!important;
    color: rgba(84,97,133,1);
    background: #FFF;
    min-height: 38px;
    padding: 10px 15px;
    min-height: 38px;
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    text-decoration: none;
}
.vr-workspace-theme29 .left-side .workspace-menu > li > a > span.title {
    
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 7px;
    position: absolute;
    line-height: 14px;
    padding-top: 2px;
}
.vr-workspace-theme29 .left-side .workspace-menu > li {
    display: block;
    margin: 0;
    padding: 0;
}
.vr-workspace-theme29 .left-side .workspace-menu > li > a:hover {
    border-left: 3px solid #4ca8e6 !important;
    padding-left: 12px;
    color: #4ca8e6 !important;
    background: #FFF !important;
}
.vr-workspace-theme29 .left-side .workspace-menu > li.active > a {
    border-left: 3px solid #4ca8e6 !important;
    padding-left: 12px;
    color: #4ca8e6 !important;
    background: #FFF !important;
}
.vr-workspace-theme29 .ws-page-sidebar .slimScrollDiv {
    height: auto !important;
}

.vr-workspace-theme29 .ws-page-sidebar .slimScrollDiv .workspace-menu {
    height: auto !important;
}
.vr-workspace-theme29 .width-100 {
    width: 100% !important;
    padding:0 !important;
}
.vr-workspace-theme29 .timelineUploadBG {
    position: absolute;
    top: 65px;
    right: 3px;
}
.vr-workspace-theme29 .uploadFile {
    background: url('ws_cover_change.png') no-repeat;
    height: 32px;
    width: 32px;
    overflow: hidden;
    cursor: pointer;
}
.vr-workspace-theme29 .uploadFile input {
    filter: alpha(opacity=0);
    opacity: 0;
    margin-left: -110px;
}
.vr-workspace-theme29 .custom-file-input {
    height: 25px;
    cursor: pointer;
}
.ws_cover_div .jcrop-holder {
    margin: 0 auto;
}

.vr-workspace-theme29 .display-block {
    display: block !important;
    float:left !important; 
}
.vr-workspace-theme29 .margin-padding {
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    padding: 4px !important;
}
.vr-workspace-theme29 .width-0 {
    width:inherit !important;
}
.vr-workspace-theme29 .font-size-11 {
    font-size: 11px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    float: left !important;
    text-align: left !important;
}
.vr-workspace-theme29 .margin-padding .box {
    height: 27px;
}

.vr-worspace-theme19 .active>a {
    color: #CCC;
}
.vr-workspace-theme29 .ws-bg {
    /* background: #b3b3b3 !important; */
    background: #9ea2b3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52px !important;
    margin-top: -10px !important;
}
.vr-workspace-theme29 .package-div {
    background-color: #fff;
    padding:10px;
}
.vr-workspace-theme29 .package-meta {
    background-color: inherit !important;
}
.vr-workspace-theme29 .left-side .profile-userpic img {
    height: 160px !important;
    width: 160px !important;
    margin: 0 auto;
    border-radius: 50% !important;
}
.vr-workspace-theme29 h4.first-pos {
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    
    margin: 20px 0 4px !important;
    height: 18px !important;
    padding-top: 18px !important;
    margin-left: -21.58% !important;
}

.vr-workspace-theme29 .right-side .emptyit .first-pos { 
    margin-left: 0 !important;
}
.vr-workspace-theme29 .left-side {
    width: 18%;
    float: left;
    padding: 0;
    min-height: 411px;
    background-color: #ffffff;
    /* height: 180vh; */
}

.vr-workspace-theme29 .left-side {
    margin-top: 0 !important;
}
.vr-workspace-theme29 .ws-menu {

}
.vr-workspace-theme29 .ws-menu .workspace-menu li {
    float: left;
    
}
.vr-workspace-theme29 .ws-menu .workspace-menu li a {
    color: #FFF !important;
}
.vr-workspace-theme29 .left-side .profile-userpic {
    padding-top: 30px !important;
}
.vr-workspace-theme29 .ws-menu ul.workspace-menu ul.sub-menu {
    margin-top: 10px !important;
}
.vr-workspace-theme29 .workspace-part .meta-toolbar {
    background: none !important;
}
.vr-workspace-theme29 .workspace-part .meta-toolbar .bp-btn-back {
    display: none;
}
.vr-workspace-theme29 .card.ws-widget-light {
    background-color: #fff !important;
}
.vr-workspace-theme29 .card.ws-widget-light > .card-title > .caption.caption-md > .caption-subject {
    color: #505050 !important;
}
.vr-workspace-theme29 .widget-body {
    
}
.vr-workspace-theme29 .widget-body .viewer-container {
    margin-top: 0 !important;
}
.vr-workspace-theme29 .thumbnail {
    padding: 0px !important;
    border: none !important;
}
.vr-workspace-theme29 .ws-department-icon {
    background-image: url(../img/department.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .ws-position-icon {
    background-image: url(../img/position.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .ws-type-icon {
    background-image: url(../img/type.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .ws-status-icon {
    background-image: url(../img/status.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .ws-salary-icon {
    background-image: url(../img/salary.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .ws-start-date-icon {
    background-image: url(../img/start_date.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .ws-work-start-date-icon {
    background-image: url(../img/work_start_date.png);
    background-repeat: no-repeat;
    background-position: 1px;
    min-height: 26px;
}
.vr-workspace-theme29 .card.light .card-title .caption {
    
    font-size: 15px !important;
}
.vr-workspace-theme29 .card {
    border-radius: 0 !important;
}
.vr-workspace-theme29 .mddashboard-title, .vr-workspace-theme29 .text-service {
    
    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: inherit;
}
.vr-workspace-theme29 .ws-button-row {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;    
}
.vr-workspace-theme29 .ws-button-row button.btn {
    padding: 3px 7px 4px 7px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: #00A75F;
}
.vr-workspace-theme29 .ws-button-row.ws-button-row-blue button.btn {
    background-color: #3379B5;
}
.vr-workspace-theme29 .ws20-facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme29 .ws20-twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme29 .ws20-linkedin {
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme29 .ws20-google {
    background-image: url(../img/google.png);
    background-repeat: no-repeat;    
    padding-top: 10px;
    padding-left: 30px;
}
.vr-workspace-theme29 .social-row {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.vr-workspace-theme29 .package-tab{
    position: relative;
}
.vr-workspace-theme29 .package-tab > .row > .main-dataview-container > .render-object-viewer > .row > .col-md-12 > .viewer-container > .col-md-12 > .row > .right-sidebar-content-for-resize > .row > .col-md-12 > .table-toolbar {
    /* float: right;
    margin-top: -25px;
    margin-right: 0; */

    position: absolute;
    right: 10px;
    top: -40px;
    z-index: 9;
    /* position: relative; */
    /* float: right; */
    /* top: 0; */
}
.vr-workspace-theme29 .jeasyuiTheme1 .datagrid-header-row, .datagrid-row {
    height: 20px;
}
.vr-workspace-theme29 .sidebar-content .sidebar-user .card-body {
    padding: 1.25rem;
    border-bottom: 1px solid #e0e0e0;
}
.vr-workspace-theme29 .backbtn i {
    font-size: 34px;
    color: #000;
}
.vr-workspace-theme29 .workspace-main {
    margin-top: -4px;
}
.vr-workspace-theme29 .workspace-main .ws-page-container #wsForm ul.bp-addon-tab.nav-tabs {
    margin: 0 0 10px 0;
}
.vr-workspace-theme29 .workspace-main .ws-page-container #wsForm ul.bp-addon-tab.nav-tabs > li > a {
    padding: 7px;
}
.vr-workspace-theme29 .meta-toolbar {
    position: absolute;
    z-index: 9;
    top: -12px;
    right: 21px;
    margin: 0;
    padding: 0;
    margin-top:0 !important;
}
.vr-workspace-theme29 .datagrid-view a,
.vr-workspace-theme29 .datagrid-cell-rownumber {
    font-size: 14px;
}
.vr-workspace-theme29 .table-toolbar {
    
}
.vr-workspace-theme29 .layout-theme {
    padding: 15px;
}
/******************************************************************************/

.dvecommerce_tree .vr-workspace-theme29 .dv-process-buttons {
   
}
.dvecommerce_tree.dv2 .vr-workspace-theme29 .package-div.odd {
    background: #FFF;
}
.dvecommerce_tree.dv2 .vr-workspace-theme29 .workspace-main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.main-overflow{
    overflow: hidden !important;
}
.dvecommerce_tree.dvecommerce.dv2 .sidebar {
    /* height: 100vh; */
}
.dvecommerce_tree.dvecommerce.dv2 .vr-workspace-theme29 .table-toolbar .row {
    margin-right: 0;
}
.dvecommerce_tree.dvecommerce.dv2 .vr-workspace-theme29 .table-toolbar .row .dv-process-buttons {
    display: contents;
}
.dvecommerce_tree.dvecommerce.dv2 .vr-workspace-theme29 .package-meta .package-tab {
    margin-top: 0 !important;
}
.dvecommerce_tree.dvecommerce.dv2 .vr-workspace-theme29 .table-scrollable .col-md-12 {
    margin-top: 12px !important;
}
.hranket .bg-white .card-title{
    color:#000;
}
/******************************************************************************/
.vr-workspace-theme29 .jeasyuiTheme2 .datagrid-body td {
    padding: 10px 0;
    border-width: 0 !important;
}
.vr-workspace-theme29 .right-sidebar-content-for-resize.content-wrapper  {
    background: none;
}
/***********************************************************/
.dvecommerce_tree.dvecommerce.dv2 .vr-workspace-theme29 #package-tab-1560304933910650 .meta-toolbar.is-bp-open-0 {
    padding-top: 0;
    margin-top: -21px !important;
}
/***********************************************************/