<link href="assets/core/frontend/layout/theme/css/project/style.css" rel="stylesheet" type="text/css"/>
<div class="col-md-12 process-theme6">
  <div class="col-md-3 no-padding left-side">
    <div class="process-theme6-sticky">
      <div class="col-md-12 no-padding" style="background: #60a3d8;">
        {{section1}}
      </div>
      <div class="col-md-12 no-padding" style="background: #60a3d8;">
        {{section2}}
      </div>
      <div class="col-md-12 no-padding" id="stick-content" style="background: #60a3d8; padding-bottom: 20px !important;">
        {{section3}}
      </div>        
    </div>
  </div>
  <div class="col-md-9 right-side" id="scrollit">
    <div class="row">
      {{section4}}
    </div>
    <div class="row">
      {{section5}}
    </div>
    <div class="row">
      {{section6}}
    </div>
  </div>
</div>

<style type="text/css">
  .process-theme6 .project-image {
      height: 270px;
      width: 100%;
  }
  .process-theme6 .theme-edit-btn {
      border: 1px solid #000;
      background: #fff;
      border-radius: 0px !important;
      float: right;
      padding: 1px;
      margin-top: 20px;
  }
  .process-theme6 .theme-edit-btn i {
      color: #000;
  }
  .process-theme6 .singleRowTmp {
      display: inline !important;
  }
  .process-theme6 .singleRowTmp .removeRowBtn {
      display: none !important;
  }
</style>
