<div class="container">
	<div class="process-theme2 process-theme9 process-theme9_1 ">
	  <div class="right-side" id="scrollit">
		<div class="custom-tabbable">
		  <ul class="nav nav-tabs nav-scroll" id="theme9TopTab">
			<li class="col-2 nav-item general-tab active">
			  <a href="#anket_[uniqId]_right_section_tab_0" class="nav-link">
				<div class="order-number">1</div>
				<div><span>{{tab91}}</span></div>
			  </a>
			</li>
			<li class="col-2 nav-item first-tab">
			  <a href="#anket_[uniqId]_right_section_tab_1" class="nav-link">
				<div class="order-number">2</div>
				<div><span>{{tab92}}</span></div>
			  </a>
			</li>
			<li class="col-2 nav-item second-tab"> 
			  <a  href="#anket_[uniqId]_right_section_tab_2" class="nav-link">
				<div class="order-number">3</div>
				<div><span>{{tab93}}</span></div>
			  </a>
			</li>
			<li class="col-2 nav-item third-tab"> 
			  <a href="#anket_[uniqId]_right_section_tab_3" class="nav-link">
				<div class="order-number">4</div>
				<div><span>{{tab94}}</span></div>
			  </a>
			</li>
			<li class="col-2 nav-item fourth-tab"> 
			  <a  href="#anket_[uniqId]_right_section_tab_4" class="nav-link">
				<div class="order-number">5</div>
				<div><span>{{tab95}}</span></div>
			  </a>
			</li>
			<li class="col-2 nav-item last-tab"> 
			  <a  href="#anket_[uniqId]_right_section_tab_5" class="nav-link">
				<div class="order-number">6</div>
					<div><span>{{tab96}}</span></div>
				</a>
			</li> 
			<!--<li>
			  <i class="icon-plus3 font-size-12"></i>
			  <a aria-expanded="false" href="#anket_[uniqId]_right_section_tab_5" data-toggle="tab">Нэмэлт<span class="lang-text">/Other/</span></a>
			</li>-->
		  </ul>
		  <div class="tab-content">
			<div class="accordion-section zero" id="anket_[uniqId]_right_section_tab_0">
                          <div>
                              <!-- <strong>Ерөнхий мэдээлэл</strong> -->
                          </div>                            
			  <div>
				<div class="process-theme2-sticky process-theme9-sticky">
				  <div id="stick-content">
					{{section2}}
				  </div>
				  <div>
					{{section100}}
				  </div>
				  <div>
					{{section101}}
				  </div>
				  <div>
					{{section102}}
				  </div>
				  <div>
					{{section103}}
				  </div>
				  <div>
					{{section104}}
				  </div>
				  <div>
					{{section105}}
				  </div>
				  <div>
					{{section106}}
				  </div>
				  <div>
					{{section107}}
				  </div>
				  <div>
					{{section108}}
				  </div>
				</div>
			  </div>
			</div>
  
			<div class="accordion-section one" id="anket_[uniqId]_right_section_tab_1">
                          <div>
                              <!-- <strong>Ажлын байр</strong> -->
                          </div>
			  <div>
				{{section23}}
			  </div>
			  <div>              
				{{section34}}
			  </div>
			  <div>
				{{section35}}
			  </div>
			  <div>
				{{section36}}
			  </div>
			  <div>
				{{section37}}
			  </div>
			  <div>
				{{section38}}              
			  </div>
			  <div>
				{{section109}}              
			  </div>
			  <div>
				{{section110}}              
			  </div>
			  <div>
				{{section111}}              
			  </div>
			  <div>
				{{section112}}              
			  </div>
			</div>
  
			<div class="accordion-section two" id="anket_[uniqId]_right_section_tab_2">
                          <div>
                              <!-- <strong>Ажлын туршлага</strong> -->
                          </div>                            
				<div>
				  {{section14}}
				</div>
				<div>
				  {{section15}}
				</div>
				<div>
				  {{section16}}
				</div>
				<div>
				  {{section17}}
				</div>            
				<div>
				  {{section113}}
				</div>            
				<div>
				  {{section114}}
				</div>            
				<div>
				  {{section115}}
				</div>            
				<div>
				  {{section116}}
				</div>            
				<div>
				  {{section117}}
				</div>            
				<div>
				  {{section118}}
				</div>            
			</div>
  
			<div class="accordion-section three" id="anket_[uniqId]_right_section_tab_3">
                          <div>
                              <!-- <strong>Холбогдох хаяг</strong> -->
                          </div>                             
				<div>
				  {{section11}}
				</div>
				<div>
				  {{section12}}
				</div>
				<div>
				  {{section26}}
				</div>
				<div>
				  {{section27}}
				</div>
				<div>
				  {{section31}}
				</div>
				<div>
				  {{section32}}
				</div>
				<div>
				  {{section33}}
				</div>
				<div>
				  <div>
					{{section13}}
				  </div>
				  <div class="pt0 p-3">
                                      {{staticskilldescription}}
				  </div>
				</div>
				<div>
				  {{section119}}
				</div>
                                <div>
				  {{section120}}
				</div>
				<div>
				  {{section121}}
				</div>                            
			</div>
  
			<div class="accordion-section four" id="anket_[uniqId]_right_section_tab_4">
                          <div>
                              <!-- <strong>Туршлага</strong> -->
                          </div>                               
			  <div>
				{{section19}}
			  </div>
			  <div>
				{{section20}}
			  </div>
			  <div>
				{{section21}}
			  </div>
			  <div>
				{{section28}}
			  </div>
			  <div>
				{{section29}}
			  </div>
			  <div>
				{{section30}}
			  </div>
			  <div>
				{{section122}}
			  </div>
			  <div>
				{{section123}}
			  </div>
			  <div>
				{{section124}}
			  </div>
			  <div>
				{{section125}}
			  </div>
			</div>
  
			<div class="accordion-section five" id="anket_[uniqId]_right_section_tab_5">
				<div>
				  {{section3}}
				</div>
				<div class="p-3">
				  {{section4}}
				</div>
				<div>
				  {{section5}}
				</div>          
				<div>
				  {{section9}}
				</div>
				<div>
				  {{section10}}
				</div>
				<div>
				  {{section126}}
				</div>
				<div>
				  {{section127}}
				</div>
				<div>
				  {{section128}}
				</div>
				<div>
				  {{section129}}
				</div>
				<div>
				  {{section130}}
				</div>
			</div>    
		 
		<!--  <div class="tab-pane" id="anket_[uniqId]_right_section_tab_6">
				  <div>
					{{section24}}
				  </div>
				  <div>
					{{section6}}
				  </div>
				  <div>
					{{section7}}
				  </div>
				  <div>
					{{section8}}
				  </div>
			  </div> -->
				
			  <!-- <div class="tab-pane" id="anket_[uniqId]_right_section_tab_7">
					  <div>
						{{section22}}
					  </div>
				  </div> -->
  
		  </div>
		</div>
  
		<div class="change-tab">
		  <button type="button" class="btn btn-sm left changeTabBtn previous mr-1" style="display:none;"><i class="icon-arrow-left5"></i> Өмнөх</button>
		  <button type="button" class="btn btn-sm right changeTabBtn next">Дараах <i class="icon-arrow-right5"></i></button>
		</div>
  
		<div class="footer-text">
		  <p>{{footerDescriptionMN}}</p>
		  <p>{{footerDescriptionEN}}</p>
		</div>
	  </div>
	</div>
  </div>
  
  <style type="text/css">
	.process-theme9 .right-side .custom-tabbable .nav-tabs li {
	  width: auto !important;
	  position: relative;
	}
	.process-theme9 .right-side .custom-tabbable .nav-tabs li a {
	  font-weight: bold;
	  padding: 40px  0 0 0;
	  line-height: normal;
	  text-align: center;
	}
	.process-theme9 {
	  background-image: none;
	  padding-top: 0;
	}
	.process-theme2 .left-side .main-title i.left-side-title-icon {
	  background: #696969;
	}
	.process-theme2 .section27 .file-drop-disabled {
	  height: auto !important;
	}
	.process-theme2 .part-panel .profile-row.lastp {
	  display: flex;
	}
	.process-theme9 .section27 .boot-file-input-wrap-theme img {
	  border-radius: 50%;
	  border: 1px solid #7c4913;
	  height: 200px !important;
	  width: 200px !important;
	}
	.process-theme9 .select2-container-multi .select2-choices {
	  background: transparent !important;
	}
	.process-theme9 .footer-text {
	  display: inline-block;
	  margin-top: 10px;
	}
	.process-theme9 .footer-text p {
	  font-style: normal !important;
	  color: black;
	  font-size: 14px;
	}
	.process-theme9 .change-tab {
	  float: right;
	  margin-top: 20px;
	  display: flex;
	}
	.process-theme9 .change-tab button:hover,
	.process-theme9 .change-tab button:active,
	.process-theme9 .change-tab button:focus,
	.process-theme9 .change-tab button {
	  background-color: #5978aa;
	  color: #FFFFFF;
	}
	.process-theme9 .right-side .custom-tabbable .nav-tabs li a {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-transform: uppercase;
	  font-size: 11px;
	  color: #1b4588;
	  padding: 10px !important;
	  text-align: left !important;
	  min-height: 48px;
	}
	.process-theme9 .right-side .custom-tabbable .nav-tabs li a .order-number {
	  background: #1b4588;
	  color: #fff;
	  font-style: normal;
	  font-weight: bold;
	  border-radius: 20px;
	  width: 25px;
	  min-width: 25px;
	  height: 25px;
	  display: flex !important;
	  align-items: center;
	  justify-content: center;
	  margin-right: 12px;
	}
	.process-theme9 .custom-tabbable .nav .nav-item .nav-link.active .order-number {
	  background: #CC0000;
	}
	.lang-text {
	  display: block;
	  font-size: 11px;
	}
	@media (max-width: 1267px) {
	  .process-theme9 .change-tab {
		  top: 172px;
	  }
	  .process-theme9 .right-side .custom-tabbable .nav-tabs li a {
		  font-size: 11px;
	  }
	}
	@media screen and (max-width: 1000px) {
	  .process-theme9 .process-theme9-sticky .input-sm {
		  width: 60%;
	  }
	  .process-theme9 .right-side .custom-tabbable .nav-tabs li a {
		  font-size: 11px;
	  }
	}
	.process-theme9  .custom-tabbable .nav .nav-item .nav-link.active i{
	  background: #CC0000 !important;
	}
	.process-theme9  .custom-tabbable .nav .nav-item .nav-link.active{
	  color:#CC0000 !important;
	}
	.process-theme9 .accordion-section.one, .process-theme9 .accordion-section.zero, .process-theme9 .accordion-section.two, .process-theme9 .accordion-section.three, .process-theme9 .accordion-section.four {
            padding-top: 25px;
	}
        .process-theme9 .accordion-section.two {
            padding-bottom: 25px;
        }
	.process-theme9 .accordion-section {
		padding: 0 25px;
	}
	.process-theme9 .right-side .custom-tabbable .nav-tabs li i {
	  background: #1b4588;
	  color: #fff;
	  font-style: normal;
	  font-weight: bold;
	  border-radius: 20px;
	  width: 25px;
	  height: 25px;
	  display: flex !important;
	  align-items: center;
	  justify-content: center;
	  top: 5px;
	  left: 50%;
	  transform: translateX(-50%);
	  position: absolute;
	}
	.process-theme9 .right-side .custom-tabbable .nav-tabs li.active i {
		color: #fff;
		background: #13a1ac;
	}
	.process-theme9 .description-photo {
		padding: 0 10px;
		text-align: center;
		background: #e0e0e0 !important;
	}
	.section27{
	  width: 100%;
	}
	.section27 .file-preview .file-preview-thumbnails {
		width: 100% !important;
		display: inline-block;
		text-align: center;
	}
	.process-theme9 .description-photo span {
		font-weight: bold;
		font-size: 15px !important;
	}
	.b-table td {
		padding:1px 5px;
	}
	.process-theme2 .btn-icon-only {
		background: #5978aa;
		color: #fff;
		padding: 2px !important;
	}
	.process-theme2 .theme-edit-btn i {
		color: #fff;
	}
	.hidden {
	  display: none;
	}
	.process-theme2 .process-theme2-sticky {
	  padding: 0 !important;
	}
	.process-theme2 .file-preview {
	  border: 0;
	}
	.process-theme2 .file-preview-frame {
	  border: 0;
	  background: none;
	  margin: 0;
	}
	.process-theme2 .custom-tabbable .tab-content {
	  padding: 60px 0 0 0 !important;
	}
	.process-theme2 .shadow {
	  box-shadow: none !important;
	}
	.process-theme2 .part-panel label {
	  margin-bottom: 0;
	}
	.process-theme2 .part-panel .profile-row {
	  margin-bottom: 10px;
	  padding: 0 20px;
	}
	.process-theme2 .card .table-scrollable table.bprocess-table-dtl {
	  max-width: inherit !important;
	}
	#theme9TopTab .theme-data-area{
	  margin: 0 10px;
	}
	#processHtml .card-subject-btn-border,
	#processHtml .card-subject-blue {
	  display: none;
	}
	.process-theme2 tr td input.form-control {
	  width: inherit;
	}
	.file-preview .close {
		display: none;
	}
	.hide {
	  display: none !important;
	}
	.anket-body .section-anket {
		margin-top: 71px;
	}
  </style>
  
  <script type="text/javascript">
  
	$(document).ready(function() {
                $('.changeTabBtn.next').hide();
		var lastId,
			topMenu = $("#theme9TopTab"),
			topMenuHeight = topMenu.outerHeight()+90,
			menuItems = topMenu.find("a"),
			scrollItems = menuItems.map(function(){
			var item = $($(this).attr("href"));
			if (item.length) { return item; }
			});
		menuItems.click(function(e){
		var href = $(this).attr("href"),
			offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
		$('html, body').stop().animate({ 
			scrollTop: offsetTop
		}, 300);
		e.preventDefault();
		});
  
		$(window).scroll(function(){
		  var fromTop = $(this).scrollTop()+topMenuHeight;
		  
		  var cur = scrollItems.map(function(){
			  if ($(this).offset().top < fromTop)
			  return this;
		  });
		  cur = cur[cur.length-1];
		  var id = cur && cur.length ? cur[0].id : "";
		  
		  if (lastId !== id) {
			  lastId = id;
			  menuItems
				  .parent().removeClass("active")
				  .end().filter("[href='#"+id+"']").parent().addClass("active");
		  }                   
		});
	});
  
  </script>