<link href="assets/core/frontend/layout/theme/css/anket/style.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
  .lang-text {
      display: inherit;
      font-size: 11px;
  }
</style>
<div class="col-md-12 process-theme2">
  <div class="col-md-3 no-padding left-side">
    <div class="process-theme2-sticky">
      <div class="col-md-12 no-padding" style="background: #60a3d8;">
        {{section1}}
      </div>
      <div class="col-md-12 no-padding" id="stick-content" style="background: #60a3d8;padding-bottom: 20px !important;">
        {{section2}}
      </div>        
    </div>
  </div>
  <div class="col-md-9 right-side" id="scrollit">
    <div class="custom-tabbable">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <i class="fa fa-home"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_6" data-toggle="tab" class="nav-link active"><lang>Position</lang></a>
        </li>
        <li class="nav-item">
          <i class="fa fa-user-secret"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_0" data-toggle="tab" class="nav-link"><lang>General information</lang></a>
        </li>        
        <li class="nav-item">
          <i class="fa fa-graduation-cap"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_1" data-toggle="tab" class="nav-link"><lang>Education</lang></a>
        </li>
        <li class="nav-item">
          <i class="fa fa-suitcase"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_2" data-toggle="tab" class="nav-link"><lang>Employment history</lang></a>
        </li>
        <li class="nav-item">
          <i class="fa fa-users"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_3" data-toggle="tab" class="nav-link"><lang>Dependents</lang></a>
        </li>
        <li class="nav-item">
          <i class="fa fa-file"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_4" data-toggle="tab" class="nav-link"><lang>Хавсралт</lang></a>
        </li>
        <li class="nav-item">
          <i class="fa fa-cog"></i>
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_5" data-toggle="tab" class="nav-link"><lang>Other</lang></a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="[uniqId]_right_section_tab_6">
          <div class="col-md-12 no-padding">
            {{section23}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_0">
          <div class="col-md-12 no-padding">
            {{section3}}
          </div>
          <div class="col-md-12 no-padding">
            {{section4}}
          </div>
          <div class="col-md-12 no-padding">
            {{section5}}
          </div>          
          <div class="col-md-12 no-padding">
            {{section9}}
          </div>
          <div class="col-md-12 no-padding">
            {{section10}}
          </div>
        </div>        
        <div class="tab-pane" id="[uniqId]_right_section_tab_1">
          <div class="col-md-12 no-padding">
            {{section11}}
          </div>
          <div class="col-md-12 no-padding">
            {{section12}}
          </div>
          <div class="col-md-12 no-padding">
            {{section13}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_2">
          <div class="col-md-12 no-padding">
            {{section14}}
          </div>
          <div class="col-md-12 no-padding">
            {{section15}}
          </div>
          <div class="col-md-12 no-padding">
            {{section16}}
          </div>
          <div class="col-md-12 no-padding">
            {{section17}}
          </div>            
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_3">
          <div class="col-md-12 no-padding">
            {{section24}}
          </div>
          <div class="col-md-12 no-padding">
            {{section6}}
          </div>
          <div class="col-md-12 no-padding">
            {{section7}}
          </div>
          <div class="col-md-12 no-padding">
            {{section8}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_4">
          <div class="col-md-12 no-padding">
            {{section19}}
          </div>
          <div class="col-md-12 no-padding">
            {{section20}}
          </div>
          <div class="col-md-12 no-padding">
            {{section21}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_5">
          <div class="col-md-12 no-padding">
            {{section22}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
