<style type="text/css">
  .process-theme3 {
      font-family: 'PT Sans Narrow',sans-serif;
  }
  .process-theme3 .input-sm {
      border: 0px;
      background: transparent !important;
  }

  .process-theme3 .dropdownInput {
      border: 0px;
      background: transparent !important;
  }

  .process-theme3 .select2-choice {
      border: 0px;
      background: transparent !important;
  }
  .process-theme3 .form-control .select2-choice, .form-control .select2-choices {
      border: 0px;
  }

  .process-theme3 .select2-container .select2-choice .select2-arrow {
      display: none;
  }

  .process-theme3 .dateInit {
      width: 70px !important;
  }

  .process-theme3 .removeThemeRowBtn {
      padding: 7px !important;
  }

  .process-theme3 .top-info {
      background: #56b0d2;
      border-bottom: 1px solid #aeaeae;
  }
  
  .process-theme3 .right-side-bar-doc {
      border-right: 1px solid #aeaeae;
  }

  .process-theme3 .file-area {
      border: 1px solid #aeaeae;
      min-height: 132px;
  }

  .process-theme3 label[data-label-path] {
      text-align: right;
      width: 30%;
      margin: 7px 10px;
      float: left;      
      color: #fff;      
  }


  .process-theme3 ::-webkit-input-placeholder {
      color: #b3b3b3 !important;
      font-weight: 400;
  }

  .process-theme3 :-moz-placeholder { /* Firefox 18- */
      color: #b3b3b3 !important;
      font-weight: 400;
  }

  .process-theme3 ::-moz-placeholder {  /* Firefox 19+ */
      color: #b3b3b3 !important;
      font-weight: 400;
  }

  .process-theme3 :-ms-input-placeholder {  
      color: #b3b3b3 !important;
      font-weight: 400;
  }
</style>

<div class="process-theme3">
  <div class="top-info">
  <div>{{section1}}</div>
  <div class="clearfix"></div>
  </div>
  
  <div class="">
    <div class="col-md-12">{{section2}}</div>
    <div class="clearfix"></div>
  </div>
  
  <div class="">
    <div class="col-md-7 right-side-bar-doc">{{section3}}</div>
    <div class="col-md-5 no-padding">{{section4}}</div>
    <div class="clearfix"></div>
  </div>
  <div class="">
    <div class="col-md-12">{{section5}}</div>
    <div class="clearfix"></div>
  </div>
</div> 


