<div class="col-md-12 process-theme2">
    <div class="col-md-4 no-padding">
        <div class="process-theme2-sticky">
            <div class="col-md-12">
                {{section1}}
            </div>
            <div class="col-md-12">
                {{section2}}
            </div>        
            <div class="col-md-12">
                {{section3}}
            </div>
            <div class="col-md-12">
                {{section4}}
            </div>
        </div>
    </div>
    <div class="col-md-8" id="scrollit">
        <div class="col-md-12">
            {{section5}}
        </div>
        <div class="col-md-12">
            {{section6}}
        </div>
        <div class="col-md-12">
            {{section7}}
        </div>
        <div class="col-md-12">
            {{section8}}
        </div>
    </div>
</div>

<style>
    .process-theme2 {
        padding: 0;
        margin: 0;
        min-height: 550px;
        overflow-y: auto;
        width: 100%;
        background-color: #cccccc;
        
    }
    
    .process-theme2 .col-md-4 {        
        background-color: #279ade;
    }
    
    .process-theme2 .scrollit {
      overflow: auto;
      height: 830px;
      min-height: 550px;
    }
    
    .process-theme2 .process-theme2-sticky {
        min-height: 500px;
        /*background-color: #279ade;*/
        /*width: 29%;*/
        /*height: 2007px;*/
    }
    
    .process-theme2 .col-md-8 {
        color: #22272a;
        padding-right: 0;
    }
    
    .process-theme2 .input-sm {
        border: 0px !important;
        background: transparent !important;
    }
    
    .process-theme2 .dropdownInput {
        border: 0px !important;
        background: transparent !important;
    }
    
    .process-theme2 .select2-choice {
        border: 0px !important;
        background: transparent !important;
    }
    
    .process-theme2 .process-theme2-sticky label[data-label-path] {
        text-align: right;
        width: 23%;
        margin: 7px 10px;
        float: left;
        
        font-weight: bold;
     }
     
     .process-theme2 label[data-label-path] {
        text-align: right;
        width: 35%;
        margin: 7px 10px;
        float: left;
        
        font-size: 14px;
     }
     
     .process-theme2 .left-column label[data-label-path] {
        width: 35%;
     }
    
    .process-theme2 .form-control .select2-choice, .form-control .select2-choices {
        border: 0px;
    }

    .process-theme2 .select2-container .select2-choice .select2-arrow {
        display: none;
    }
    
    .process-theme2 .dateInit {
        width: 70px !important;
    }
    
    .process-theme2 .process-theme2-seperator {
        height: 1px;
        border-bottom:1px solid #5b9bd5;
        margin: 0 10px;
    }
    
    .process-theme2 .process-theme2-sticky .stringInit {
        color: #FFF;
    }
    
    .process-theme2 .process-theme2-sticky .select2-chosen {
        color: #FFF;
    }
    
    .process-theme2 .process-theme2-sticky .dateInit {
        color: #FFF;
    }
    
    .process-theme2 .bigdecimalInit {
        text-align: left !important;
    }
    
    .process-theme2 .btn-icon-only {
        height: 25px;
        width: 25px;
    }
    
/*    @media (min-width: 1700px){
         .process-theme2 .process-theme2-sticky {
        width: 33.3%;
    }
    }*/
    
</style>

<script type="text/javascript">
//  $(document).ready(function(){
//    var initStickyWidth = function(){
//    if(!$('body').hasClass('hasSidebar')){
//        $('.process-theme2 .process-theme2-sticky').css('width', '29%');
//      }else{
//        $('.process-theme2 .process-theme2-sticky').css('width', '33.3%');
//      }
//    };
//
//    initStickyWidth();
//    
//    
//    $('.vr-sidebar-toggler').click(function(){
//      $('body').toggleClass('hasSidebar');
//      initStickyWidth();
//    });
//
//  });
</script>