<link href="middleware/assets/theme/layout/process/theme/css/anket/style.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .process-theme16 .custom-tabbable .nav-tabs li {
        /* width: auto !important; */
        position: relative;
    }
    .process-theme16 .custom-tabbable .nav-tabs li a {
        font-weight: bold;
        padding: 40px  0 0 0;
        line-height: normal;
        text-align: center;
    }
    .process-theme16 {
        background: #fff;
        padding-top: 0;
    }
    .process-theme2 .left-side .main-title i.left-side-title-icon {
        background: #696969;
    }
    .process-theme2 .section27 .file-drop-disabled {
        height: auto !important;
    }
    .process-theme2 .part-panel .profile-row.lastp {
        display: flex;
    }
    .process-theme16 .section27 .boot-file-input-wrap-theme img {
        border-radius: 50%;
        border: 1px solid #7c4913;
        height: 200px !important;
        width: 200px !important;
    }
    .process-theme16 .select2-container-multi .select2-choices {
        background: transparent !important;
    }
    .process-theme16 .footer-text {
        display: inline-block;
        margin-top: 10px;
    }
    .process-theme16 .footer-text p {
        font-style: normal !important;
        color: black;
        font-size: 14px;
    }
    .process-theme16 .change-tab {
        float: right;
        margin-top: 20px;
        display: flex;
    }
    .process-theme16 .change-tab button:hover,
    .process-theme16 .change-tab button:active,
    .process-theme16 .change-tab button:focus,
    .process-theme16 .change-tab button {
        background-color: #5978aa;
        color: #FFFFFF;
        border-radius: 25px;
    }
    .process-theme16 .custom-tabbable .nav-tabs li a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 11px;
        color: #1b4588;
        padding: 10px !important;
        text-align: left !important;
        min-height: 44px;
    }
    .process-theme16 .custom-tabbable .nav-tabs li a .order-number {
        background: #1b4588;
        color: #fff;
        font-style: normal;
        font-weight: bold;
        border-radius: 20px;
        width: 25px;
        min-width: 25px;
        height: 25px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
    }
    .process-theme16 .custom-tabbable .nav .nav-item .nav-link.active .order-number {
        background: #e6173dc2;
    }
    .lang-text {
        display: block;
        font-size: 11px;
    }
    @media (max-width: 1267px) {
        .process-theme16 .change-tab {
            top: 172px;
        }
        .process-theme16 .custom-tabbable .nav-tabs li a {
            font-size: 11px;
        }
    }
    @media screen and (max-width: 1000px) {
        .process-theme16 .process-theme16-sticky .input-sm {
            width: 60%;
        }
        .process-theme16 .custom-tabbable .nav-tabs li a {
            font-size: 11px;
        }
    }

    .process-theme16  .custom-tabbable .nav .nav-item .nav-link.active{
        color:#e6173dc2 !important;
        border: none !important;
    }
    .process-theme16 .custom-tabbable .nav-tabs li i {
        background: #1b4588;
        color: #fff;
        font-style: normal;
        font-weight: bold;
        border-radius: 20px;
        width: 25px;
        height: 25px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .process-theme16 .custom-tabbable .nav-tabs li.active i {
        color: #fff;
        background: #13a1ac;
    }
    .process-theme16 .description-photo {
        padding: 0 10px;
        text-align: center;
        background: #e0e0e0 !important;
    }
    .section27{
        width: 100%;
    }
    .section27 .file-preview .file-preview-thumbnails {
        width: 100% !important;
        display: inline-block;
        text-align: center;
    }
    .process-theme16 .description-photo span {
        font-weight: bold;
        font-size: 15px !important;
    }
    .b-table td {
        padding:1px 5px;
    }
    .process-theme2 .btn-icon-only {
        background: #5978aa;
        color: #fff;
        padding: 2px !important;
    }
    .process-theme2 .theme-edit-btn i {
        color: #fff;
    }
    .hidden {
        display: none;
    }
    .process-theme2 .process-theme2-sticky {
        padding: 0 !important;
    }
    .process-theme2 .file-preview {
        border: 0;
    }
    .process-theme2 .file-preview-frame {
        border: 0;
        background: none;
        margin: 0;
    }
    .process-theme2 .custom-tabbable .tab-content {
        padding: 60px 0 0 0 !important;
    }
    .process-theme2 .shadow {
        box-shadow: none !important;
    }
    .process-theme2 .part-panel label {
        margin-bottom: 0;
    }
    .process-theme2 .part-panel .profile-row {
        margin-bottom: 10px;
        padding: 0 20px;
    }
    .process-theme2 .card .table-scrollable table.bprocess-table-dtl {
        max-width: inherit !important;
    }
    #theme9TopTab .theme-data-area{
        margin: 0 10px;
    }
    #processHtml .card-subject-btn-border,
    #processHtml .card-subject-blue {
        display: none;
    }
    .process-theme2 tr td input.form-control {
        width: inherit;
    }
    .file-preview .close {
        display: none;
    }
    .hide {
        display: none !important;
    }
    .anket-body .section-anket {
        margin-top: 71px;
    }
    .process-theme16 .btn-xs.bp-remove-row{ 
        background: #e6173dc2 !important;
    }

    .process-theme16 .green-meadow.btn{   
        background: #1b4588 !important;
        color: #fff !important;
    }
    .process-theme16 .green-meadow.btn i{
        color: #fff !important;
    }
    .process-theme16 .nav-item{
        width: 138px;
    }
    #theme16TopTab{
        position: fixed;
        background: #FFF;
        width: 1120px;
        padding: 0;
        margin: 0;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 10px 0px #c5cfe0;
        z-index: 99;
    }
    .workposition .section-title:first-child {
        color: transparent;
    }
    .workposition .section-title:first-child:before {
        background-color: transparent;
    }
    .anket-form-body .btn-xs.bp-remove-row {
        color: #fff !important;
    }

</style>
<div class="container">
    <div class="row process-theme2 process-theme16">

        <div class="col-12" id="scrollit">
            <div class="custom-tabbable">
                <ul class="nav nav-tabs" id="theme16TopTab">
                    <li class="nav-item first-tab">
                        <a href="#anket_[uniqId]_right_section_tab_1" data-toggle="tab" class="nav-link active">
                            <div class="order-number">1</div> <div><span>{{tab1}}</span></div>
                        </a>
                    </li>
                    <li class="nav-item second-tab">
                        <a href="#anket_[uniqId]_right_section_tab_2" data-toggle="tab" class="nav-link">  <div class="order-number">2</div>{{tab2}}</a>
                    </li>
                    <li class="nav-item third-tab">
                        <a href="#anket_[uniqId]_right_section_tab_3" data-toggle="tab" class="nav-link">  <div class="order-number">3</div> <div><span>{{tab3}}</span></div></a>
                    </li>
                    <li class="nav-item fourth-tab">
                        <a href="#anket_[uniqId]_right_section_tab_4" data-toggle="tab" class="nav-link"> <div class="order-number">4</div> <div><span> {{tab4}}</span></div></a>
                    </li>
                    <li class="nav-item five-tab">
                        <a href="#anket_[uniqId]_right_section_tab_5" data-toggle="tab" class="nav-link"> <div class="order-number">5</div> <div><span>{{tab5}}</span></div></a>
                    </li>
                    <li class="nav-item six-tab">
                        <a href="#anket_[uniqId]_right_section_tab_6" data-toggle="tab" class="nav-link"> <div class="order-number">6</div> <div><span>{{tab6}}</span></div></a>
                    </li>
                    <li class="nav-item seven-tab">
                        <a href="#anket_[uniqId]_right_section_tab_7" data-toggle="tab" class="nav-link"> <div class="order-number">7</div> <div><span>{{tab7}}</span></div></a>
                    </li>
                    <li class="nav-item last-tab">
                        <a href="#anket_[uniqId]_right_section_tab_8" data-toggle="tab" class="nav-link"> <div class="order-number">8</div> <div><span>{{tab8}} </span></div></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="anket_[uniqId]_right_section_tab_1">
                        <div class="col-md-12 no-padding workposition">
                            {{section23}}
                        </div>
                        <div class="col-md-12 no-padding workposition">
                            {{section34}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section35}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section36}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section37}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section38}}
                        </div>
                    </div>

                    <div class="tab-pane  tab222" id="anket_[uniqId]_right_section_tab_2">
                        <div class="col-md-12 no-padding ">
                            {{section14}}
                        </div>
                        <div class="col-md-12 no-padding workposition">
                            {{section15}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section16}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section17}}
                        </div>
                    </div>

                    <div class="tab-pane" id="anket_[uniqId]_right_section_tab_3">
                        <div class="col-md-12 no-padding">
                            {{section11}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section12}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section26}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section27}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section31}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section32}}
                        </div>

                        <div class="col-md-12 no-padding" style="background: #fff;margin-bottom:15px;">
                            <div>
                                {{section13}}
                            </div>

                            <div style="padding: 10px 10px 10px 100px;" class="d-none">
                                {{staticskilldescription}}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="anket_[uniqId]_right_section_tab_4">
                        <div class="col-md-12 no-padding">
                            {{section19}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section20}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section21}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section28}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section29}}
                        </div>

                    </div>

                    <div class="tab-pane" id="anket_[uniqId]_right_section_tab_5">
                        <div class="col-md-12 no-padding">
                            {{section3}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section4}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section5}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section9}}
                        </div>

                    </div>

                    <div class="tab-pane" id="anket_[uniqId]_right_section_tab_6">
                        <div class="col-md-12 no-padding">
                            {{section24}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section6}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section7}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section8}}
                        </div>
                    </div>

                    <div class="tab-pane" id="anket_[uniqId]_right_section_tab_7">
                        <div class="col-md-12 no-padding">
                            {{section22}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section30}}
                        </div>
                    </div>
                    <div class="tab-pane" id="anket_[uniqId]_right_section_tab_8">
                        <div class="col-md-12 no-padding">
                            {{section10}}
                        </div>
                        <div class="col-md-12 no-padding">
                            {{section33}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="change-tab">
                <button type="button" class="btn btn-sm left changeTabBtn previous mr-1" style="display:none"><i class="fa fa-chevron-left"></i> Өмнөх</button>
                <button type="button" class="btn btn-sm right changeTabBtn next">Дараах <i class="fa fa-chevron-right"></i></button>
            </div>

            <div class="footer-text">
                <p>{{footerDescriptionMN}}</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.bpMainSaveButton').hide();

        $('.next').click(function () {
            $('.nav-tabs > .nav-item > .active').parent().next('li').find('a').trigger('click');
        });

        $('.previous').click(function () {
            $('.nav-tabs > .nav-item > .active').parent().prev('li').find('a').trigger('click');
        });

        $(".custom-tabbable .nav-tabs li.first-tab").click(function () {
            $(".change-tab .changeTabBtn.next").show();
            $(".change-tab .changeTabBtn.previous").hide();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.second-tab").click(function () {
            $(".change-tab .changeTabBtn.previous").show();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.third-tab").click(function () {
            $(".change-tab .changeTabBtn.previous").show();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.fourth-tab").click(function () {
            $(".change-tab .changeTabBtn.previous").show();
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });
        $(".custom-tabbable .nav-tabs li.five-tab").click(function () {
            $(".change-tab .changeTabBtn.previous").show();
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });
        $(".custom-tabbable .nav-tabs li.six-tab").click(function () {
            $(".change-tab .changeTabBtn.previous").show();
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });
        $(".custom-tabbable .nav-tabs li.seven-tab").click(function () {
            $(".change-tab .changeTabBtn.previous").show();
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.last-tab").click(function () {
            $(".change-tab .changeTabBtn.next").hide();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.second-tab").click(function () {
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.third-tab").click(function () {
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });
        $(".custom-tabbable .nav-tabs li.fourth-tab").click(function () {
            $(".change-tab .changeTabBtn.next").show();
            $('.bpMainSaveButton').hide();
        });

        $(".custom-tabbable .nav-tabs li.last-tab").click(function () {
            $(".change-tab .changeTabBtn.next").hide();
            $('.bpMainSaveButton').show();
        });
    });
</script>