<link href="assets/core/frontend/layout/theme/css/theme5/style.css" rel="stylesheet" type="text/css"/>
<div class="col-md-12 process-theme5">
  <div class="row">
    {{section1}}
  </div>

  <div class="row">
    <div class="tabbable-line tabbable-tabdrop mt10 bp-tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_0" data-toggle="tab" class="nav-link active">Оролцогч</a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_1" data-toggle="tab" class="nav-link">Нийлүүлэх БАҮ</a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_2" data-toggle="tab" class="nav-link">Төлбөрийн хуваарь</a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_3" data-toggle="tab" class="nav-link">Алдангийн хуваарь</a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_4" data-toggle="tab" class="nav-link">Гэрээний барьцаа</a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" href="#[uniqId]_right_section_tab_5" data-toggle="tab" class="nav-link">Бусад</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="[uniqId]_right_section_tab_0">
          <div class="col-md-12 no-padding">
            {{section2}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_1">
          <div class="col-md-12 no-padding">
            {{section3}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_2">
          <div class="col-md-12 no-padding">
            {{section4}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_3">
          <div class="col-md-12 no-padding">
            {{section5}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_4">
          <div class="col-md-12 no-padding">
            {{section6}}
          </div>
        </div>
        <div class="tab-pane" id="[uniqId]_right_section_tab_5">
          <div class="col-md-12 no-padding">
            {{section7}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

