<link href="assets/core/frontend/layout/theme/css/anket/style_1.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
  .process-theme2 .process-theme2-sticky label[data-label-path] {
      margin: 7px 10px 3px 5px;
      line-height: 13px;
      padding: 4px 0;
      width: 35%;
  }
  .process-theme9 .left-side {
      width: 22%;
      float: left;
      padding-left: 5px;
  }
  .process-theme9 .right-side {
      width: 78%;
      float: left;
  }
  .process-theme9 .left-side .main-title .left-side-title {
      color: #f37731;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li {
      width: 20%;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li.active i {
      color: #13a1ac;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li a {
      color: #f37731;
      font-weight: bold;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li a:hover {
      color: #13a1ac;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li a:hover + .process-theme9 .right-side .custom-tabbable .nav-tabs li i {
      color: #13a1ac;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li.active a {
      color: #13a1ac;
  }
  .process-theme9 .process-theme9-sticky .input-sm {
      color: #e65605;
      width: 50%;
  }
  .process-theme9 input.form-control {
      font-size: 15px !important;
  }
  .process-theme9 input.stringInit {
      width: 60%;
  }
  .process-theme9 input.form-control::-webkit-input-placeholder{font-size:12px !important;}
  .process-theme9 input.form-control:-moz-placeholder{font-size:12px !important;}
  .process-theme9 input.form-control::-moz-placeholder{font-size:12px !important;}
  .process-theme9 input.form-control:-ms-input-placeholder{font-size:12px !important;}

  .process-theme9 .process-theme9-sticky ::-webkit-input-placeholder{color:#f37731 !important;font-size:12px}
  .process-theme9 .process-theme9-sticky :-moz-placeholder{color:#f37731 !important;font-size:12px}
  .process-theme9 .process-theme9-sticky ::-moz-placeholder{color:#f37731 !important;font-size:12px}
  .process-theme9 .process-theme9-sticky :-ms-input-placeholder{color:#f37731 !important;font-size:12px}


  .process-theme9 .process-theme9-sticky .select2-chosen {
      color: #f37731;
  }
  .process-theme9 {
      background-image: none;
      padding-top: 0;
  }
  .process-theme2 .left-side .main-title i.left-side-title-icon {
      background: #696969;
  }
  .process-theme9 .section27 .boot-file-input-wrap-theme {
      margin-top: 20px;
  }
  .process-theme9 .section27 .boot-file-input-wrap-theme img {
      border-radius: 50%;
      border: 1px solid #7c4913;
      height: 200px !important;
      width: 200px !important;
  }
  .process-theme9 .select2-container-multi .select2-choices {
      background: transparent !important;
  }
  .process-theme9 .footer-text {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 50px;
      width: 85%;
  }
  .process-theme9 .footer-text p {
      font-style: italic;
      color: black;
      font-size: 14px;
  }
  .process-theme9 .change-tab {
      float: right;
      width: 15%;
      text-align: right;
  }
  .process-theme9 .change-tab button:hover,
  .process-theme9 .change-tab button:active,
  .process-theme9 .change-tab button:focus,
  .process-theme9 .change-tab button {
      background-color: #5978aa;
      color: #FFFFFF;
      margin-bottom: 60px;
  }
  .lang-text {
      display: block;
      font-size: 11px;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .process-theme9 .footer-text p {
          font-size: 12px;
      }
  }

  @media (max-width: 1267px) {
      .process-theme9 .change-tab {
          top: 172px;
      }
      .process-theme9 .right-side .custom-tabbable .nav-tabs li a {
          font-size: 11px;
      }
  }
  @media screen and (max-width: 1000px){
      .process-theme2 .process-theme2-sticky label[data-label-path] {
          width: 30%;
      }
      .process-theme9 .process-theme9-sticky .input-sm {
          width: 60%;
      }
      .process-theme9 .right-side .custom-tabbable .nav-tabs li a {
          font-size: 10px;
      }
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li i {
      color: #fff;
      font-style: normal;
      font-weight: bold;
      border-radius: 20px;
      background: #f37731;
      padding: 3px 8px;
      margin-bottom: 1px !important;
      display: inline-block;
  }
  .process-theme9 .right-side .custom-tabbable .nav-tabs li.active i {
      color: #fff;
      background: #13a1ac;
  }
  .process-theme9 .description-photo {
      background: #f1f1f1;
      padding: 0 10px;
      text-align: center;
  }
  .process-theme9 .description-photo span {
      margin-top: -10px;
      font-weight: bold;
      font-size: 11px;
  }
  .b-table td {
      padding:1px 5px;
      font-family: 'PT Sans Narrow', sans-serif;
  }
  .process-theme2 .btn-icon-only {
      background: #5978aa;
      color: #fff;
      padding: 2px !important;
  }
  .process-theme2 .theme-edit-btn i {
      color: #fff;
  }
</style>
<div class="col-md-12 process-theme2 process-theme9">  
  <div class="left-side">
    <div class="process-theme2-sticky process-theme9-sticky">
      <div class="col-md-12 no-padding" style="background: #f1f1f1;">
        {{section1}}
      </div>
      <div class="description-photo">
        <span>3MB</span>
      </div>
      <div class="col-md-12 no-padding" id="stick-content" style="background: #f1f1f1;padding-bottom: 20px !important;">
        {{section2}}
      </div>
    </div>
  </div>
  <div class="right-side" id="scrollit">
    <div class="custom-tabbable">

      <div class="tab-content">
        <div class="tab-pane active" id="right_section_tab_6">
          <div class="col-md-12 no-padding">
            {{section23}}
          </div>
          <div class="col-md-12 no-padding">
            {{section3}}
          </div>
          <div class="col-md-12 no-padding">
            {{section4}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var $theme9TopTab=$('#theme9TopTab'),
            $toLeft=$('.to-left'),
            $toRight=$('.to-right'),
            $metaToolBar=$('.meta-toolbar');

    $('.changeTabBtn').click(function(){
      var $src=$(this);
      if($src.hasClass('to-left')){
        $theme9TopTab.find('li.active').prev('li').find('a').trigger('click');
      } else if($src.hasClass('to-right')){
        $theme9TopTab.find('li.active').next('li').find('a').trigger('click');
      }

      togglePrevNextBtn($theme9TopTab.find('li.active'), $toLeft, $toRight, $metaToolBar);
    });

    $theme9TopTab.find('li').find('a').click(function(){
      togglePrevNextBtn($(this).closest('li'), $toLeft, $toRight, $metaToolBar);
    });
  });

  function togglePrevNextBtn($li, $toLeft, $toRight, $metaToolBar){
    if($li.hasClass('first-tab')){
      $toLeft.hide();
    } else {
      $toLeft.show();
    }

    if($li.hasClass('last-tab')){
      $toRight.hide();
      $metaToolBar.show();

    } else {
      $toRight.show();
      $metaToolBar.hide();
    }
  }
</script>