<div class="process-theme1">
    <div class="basement">
        <div class="col-md-3 left-column">
            <div  class="col-md-12">
                {{section1}}
            </div>
          <div class="clearfix"></div>
            <div class="row no-padding">                
                {{section2}}
            </div>
            <div class="col-md-12 no-padding"> 
                {{section3}}
            </div>
        </div>
        <div class="col-md-9 right-column pt10 no-padding">
            <div class="col-md-12">{{section4}}</div>
            <div class="clearfix"></div>
            <div class="col-md-12">{{section5}}</div>
            <div class="clearfix"></div>
            <div class="col-md-12">{{section6}}</div>
        </div>
    </div>
</div>

<style>
    .process-theme1 .basement {
        width: 100%;
        background-color: #EFEFEF;
        font-family: 'Open Sans Condensed', sans-serif;
        padding: 0;
        margin: 0;
        min-height: 550px;
        overflow-y: auto;
    }
    .process-theme1 .left-column {
        background-color: #3790c9;
        color: #fff;
        min-height: 500px;
        overflow-y: auto;
    }    
    .process-theme1 .left-column label{
        font-size: 14px;
        
    }    
    .process-theme1 .right-column{
        padding-left: 40px;
        margin-bottom: 10px;
    } 
    
    .process-theme1 .editable input {
        width: 75%;
    }
    
    .process-theme1 .btn {
        padding: 1px 5px;
    }
    
    .process-theme1 .tmpThemeRow {
        background-color: #f2f2f2;
    }
    
    
    .process-theme1 .name-area {
        background-color: #fff;
        margin-top: 10px;
        padding: 30px;
        clear: both;
        display: table;
        width: 100%;
     }
     .process-theme1 label[data-label-path] {
        text-align: right;
        width: 20%;
        margin: 7px 10px;
        float: left;
     }
     .process-theme1 .left-column label[data-label-path] {
        width: 35%;
     }
     .process-theme1 .work-title,
     .process-theme1 .education-title {
        margin-bottom: 10px;
     }
     .process-theme1 .year-begin label[data-label-path] {
        width: 45.5% !important;
     }
     .process-theme1 .year-end label[data-label-path] {
        width: 25% !important;
     }
     .process-theme1 span.year-begin,
     .process-theme1 span.year-end {
        width: 44%;
        display: inline-block;
     }
     .process-theme1 .work-item,
     .process-theme1 .education-item {
        margin-top: 10px;
        border-bottom: 1px solid #ddd;
        clear: both;
        float: left;
        padding-bottom: 10px;
     }
     .process-theme1 .work-item:last-child,
     .process-theme1 .education-item:last-child {
        border-bottom: 0px;
     }
      
</style>
