<style type="text/css">
  .position-param .info-line:last-child {
      border-bottom: none;
  }
  .position-param .info-line label[data-label-path] {
      width: 100% !important;
      color: #000 !important;
      font-size: 12px;
      margin: 8px 0 2px;
  }
  .position-param .info-line .input-sm {
      border-radius: 0px !important;
      border: 1px solid #4d90fe !important;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
      outline: none;
      width: 100%;
      height: 29px;
  }
  .position-param .info-line .select2-drop.select2-drop-above.select2-drop-active {
      border: 1px solid #4d90fe !important;
  }
  .position-param .info-line .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices,
  .position-param .info-line .form-control .select2-choice, .form-control .select2-choices {
      border: none !important;
  }
</style>

<div class="position-param">
  <div class="col-md-12 info-line">{{pos1}}</div>
  <div class="col-md-12 info-line">{{pos2}}</div>
  <div class="col-md-12 info-line">{{pos3}}</div>
  <div class="col-md-12 info-line">{{pos4}}</div>
  <div class="col-md-12 info-line">{{pos5}}</div>
  <div class="col-md-12 info-line">{{pos6}}</div>
  <div class="col-md-12 info-line">{{pos7}}</div>
  <div class="col-md-12 info-line">{{pos8}}</div>
  <div class="col-md-12 info-line">{{pos9}}</div>
  <div class="col-md-12 info-line">{{pos10}}</div>
  <div class="col-md-12 info-line">{{pos11}}</div>
  <div class="col-md-12 info-line">{{pos12}}</div>
  <div class="col-md-12 info-line">{{pos13}}</div>
  <div class="col-md-12 info-line">{{pos14}}</div>
  <div class="col-md-12 info-line">{{pos15}}</div>
  <div class="col-md-12 info-line">{{pos16}}</div>
  <div class="col-md-12 info-line">{{pos17}}</div>
  <div class="col-md-12 info-line">{{pos18}}</div>
  <div class="col-md-12 info-line">{{pos19}}</div>
  <div class="col-md-12 info-line">{{pos20}}</div>
</div>

