<div class="image-container">
    <div id="pos1" class="boot-file-input-wrap">
        {{pos1}}
    </div>
</div>
<style>
    .process-theme1 .image-container{
        padding: 20px 0 20px 0;
    }
    .process-theme1 .image-container img{
        float: none;
        margin: 0 auto;
        width: 70%;
        height: 70%;
        -webkit-border-radius: 50%!important;
        -moz-border-radius: 50%!important;
        border-radius: 50%!important;  
    }    
    .process-theme1 .left-column .boot-file-input-wrap label[data-label-path] ,
    .process-theme1 .left-column .fancybox-button {
       display: none;
    }
    
    .boot-file-input-wrap > a{
        display: none;
    }
    
    .boot-file-input-wrap .file-preview-frame{
        width: auto;
        height: 150px;
    }
</style>