<div class="work-area shadow theme-panel" id="work-area">
    <div class="work-title">ХӨДӨЛМӨР ЭРХЛЭЛТИЙН БАЙДАЛ</div>
    <div class="theme-data-area">
        {{rowsbegin}}
            <div class="work-item theme-row">
                <div class="work-row">
                    <div class="col-md-12 no-padding">
                        <span class="year-begin">
                            {{pos1}}                       
                        </span> <span>-</span> 
                        <span class="year-end">
                            {{pos2}}                        
                        </span>
                        <span class="work-name">
                            {{pos3}}                   
                        </span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <div class="work-description">
                            {{pos4}}
                        </div>
                    </div>
                </div>
            </div>
        {{rowsend}}
    </div>
    <div class="btn-area"></div>
</div>
<style>
    .process-theme1 .work-area {        
        background-color: #fff;
        margin-top: 20px;
        padding: 30px;
        clear: both;
        display: table;
        width: 100%;
    }    
    .process-theme1 .work-row span {
        font-weight: bold;
    }
    
    .process-theme1 .work-name {
        
    }
    .process-theme1 .work-title {
        font-size: 30px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .process-theme1 .work-item {
        margin-top: 10px;
    }
</style>