<div class="section11" id="process-theme2-profile-panel">
    <div class="boot-file-input-wrap-theme" defaultHeight="150">
        {{pos1}}
    </div>
  
  <div class="basic-info">
    <div class="basic-info-row">
            {{pos2}}   
    </div>
    <div class="basic-info-row">
            {{pos3}}   
    </div>
  </div>
</div>
<style>
    .process-theme2 .boot-file-input-wrap-theme img {
        height: 100%;
    }
    
    #process-theme2-profile-panel {
      border-bottom: 1px solid #5b9bd5;
      padding-bottom: 10px;
    }
    
    .process-theme2 .boot-file-input-wrap-theme a{
        display: none;
    }
    
    .process-theme2 .file-input, .process-theme2 .file-preview {
        text-align: center;
    }
    .process-theme2 .file-preview .file-preview-frame {
        width: 150px !important;
    }
    .process-theme2 .file-drop-disabled {
        width: 150px !important;
        height: 150px !important;
        margin-right: 0px !important;
        border: 0px ;
        border-radius: 90px !important;
        display: inline-flex;
    }
    
    .process-theme2 .boot-file-input-wrap-theme > a{
        display: none;
    }
    
    .process-theme2 .boot-file-input-wrap-theme > label {
        display: none;
    }
    
    .process-theme2 .boot-file-input-wrap-theme .file-input .btn-file {
        /*display: none;*/
    }
    .process-theme2 .boot-file-input-wrap-theme .file-input {
        width: 100%;
    }
    .process-theme2 .boot-file-input-wrap-theme .file-input:hover >  .btn-primary, .process-theme2 .boot-file-input-wrap-theme .file-input:hover >  .fileinput-remove-button{
        display: inline-block !important;
    }
    .process-theme2 .boot-file-input-wrap-theme .file-input button {
        display: none;
    }
    
    .process-theme2 .boot-file-input-wrap-theme .file-input .btn-file{
        width: 25px;
        padding: 2px 5px;
    }
    
    .process-theme2 .boot-file-input-wrap-theme .file-input .btn-file i {
        margin-right: 10px;
    }
    
    .process-theme2 .boot-file-input-wrap-theme .file-input .btn-primary{
        color: #444;
        background-color: #cecece;
        display: none;
    }
    
    .process-theme2 .basic-info-row {
        text-align: center;
    }
    
    .process-theme2 .basic-info-row label[data-label-path] {
        display: none;
    }
    
    .process-theme2 .basic-info-row input[data-path] {
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
    }
    
</style>