<div class="card light shadow education-area theme-panel" id="education-area">
    <div class="education-title">
        <div class="col-md-11 section-title"><lang>Education</lang></div> 
        <div class="btn-area col-md-1"><a class="btn btn-circle btn-icon-only theme-edit-btn" href="javascript: themeEdit('education-area');" style="padding: 2px;"><i class="icon-plus3 font-size-12"></i></a></div>
    </div>
    <div class="theme-data-area">
        {{rowsbegin}}
            <div class="theme-row">
                <div class="col-md-12 no-padding">
                    <table><tr><td class="theme-inline-date">{{pos1}}</td><td>-</td><td class="theme-inline-date">{{pos2}}</td></tr></table>
                </div>
                <div class="col-md-9 col-md-offset-3 no-padding">
                    <div class="col-md-12">{{pos3}}</div>
                    <div class="col-md-12">{{pos4}}</div>
                    <div class="col-md-12">{{pos5}}</div>
                    <div class="col-md-12">{{pos6}}</div>
                </div>  
                <div class="col-md-12 theme-line"></div>
            </div>
            
        {{rowsend}}
    </div>    
</div>

<style>   
    .process-theme2 .col-md-8 .education-area {
        background-color: #fff;
        padding: 15px 30px;
        clear: both;
        display: table;
        width: 100%;
        border-radius: 0px;
    }
    
    .process-theme2 .education-title {
        font-size: 30px;
        font-family: 'Open Sans Condensed', sans-serif;
        border-bottom: 1px solid #ffc000;
        padding-bottom: 26px;
        margin-bottom: 10px;
    }
    
    .process-theme2 .theme-row .theme-line {
        border-bottom: 1px solid #efefef;
        margin: 5px 0px;
    }
    
    .process-theme2 .theme-inline-date label {
        display: none;
    }
    
    .process-theme2 .theme-inline-date .dateElement .input-group-btn {
        display: none;
    }
    
    .process-theme2 .theme-inline-date .dateElement .dataInit{
        float: left;
    }
    
    .process-theme2 .theme-inline-date .theme-inline-date-seperator {
        float: left;
    }
    
</style>