<div class="portlet light shadow theme-grid-area theme-panel">
  <div class="theme-grid-title">
    <div class="col-md-11 section-title"><lang>General information</lang></div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">{{pos1}}</div>
    <div class="col-md-12">{{pos2}}</div>
    <div class="col-md-12">{{pos3}}</div>
    <div class="col-md-12">{{pos4}}</div>
    <div class="col-md-12">{{pos5}}</div>
    <div class="col-md-12">{{pos6}}</div>
    <div class="col-md-12">{{pos7}}</div>
    <div class="col-md-12">{{pos8}}</div>
    <div class="col-md-12">{{pos9}}</div>
    <div class="col-md-12">{{pos21}}</div>
    <div class="col-md-12">{{pos22}}</div>
    <div class="col-md-12">{{pos23}}</div>
    <div class="col-md-12">{{pos24}}</div>
    <div class="col-md-12">{{pos25}}</div>
    <div class="col-md-12">{{pos26}}</div>
    <div class="col-md-12">{{pos27}}</div>
    <div class="col-md-12">{{pos28}}</div>
    <div class="col-md-12">{{pos29}}</div>
    <div class="col-md-12">{{pos30}}</div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">{{pos10}}</div>
    <div class="col-md-12">{{pos11}}</div>
    <div class="col-md-12">{{pos12}}</div>
    <div class="col-md-12">{{pos13}}</div>
    <div class="col-md-12">{{pos14}}</div>
    <div class="col-md-12">{{pos15}}</div>
    <div class="col-md-12">{{pos16}}</div>
    <div class="col-md-12">{{pos17}}</div>
    <div class="col-md-12">{{pos31}}</div>
    <div class="col-md-12">{{pos32}}</div>
    <div class="col-md-12">{{pos33}}</div>
    <div class="col-md-12">{{pos34}}</div>
    <div class="col-md-12">{{pos35}}</div>
    <div class="col-md-12">{{pos36}}</div>
    <div class="col-md-12">{{pos37}}</div>
    <div class="col-md-12">{{pos38}}</div>
    <div class="col-md-12">{{pos39}}</div>
    <div class="col-md-12">{{pos40}}</div>
  </div>
  <div class="clearfix"></div>
</div>
<style>


</style>