<style type="text/css">
  .position-pm label[data-label-path] {
      display: none;
  }
  .position-pm .poss .input-sm {
      border-radius: 0px !important;
      border: 0px solid #4d90fe !important;
      width: 100%;
      height: 29px;
      font-size: 20px;
      color: #5e8b9c;
	  padding-left: 0 !important;
  }
  .position-pm .pos1 .input-sm {
      height: 40px;
      background: transparent;      
      font-size: 33px;
      padding-left: 0;
  }
  .position-pm .pos2 {
      margin-top: 10px;
  }
</style>

<div class="position-pm row">
  <div class="col-md-12">
    <div class="pos1 poss">{{pos1}}</div>
  </div>
  <div class="col-md-12">
    <div class="pos2 poss">{{pos2}}</div>
  </div>
  <div class="col-md-12">
    <div class="pos3 poss">{{pos3}}</div>
  </div>
  <div class="col-md-12">
    <div class="pos4 poss">{{pos4}}</div>
  </div>
</div>

