<div class="portlet light side-file-area" id="side-file-area">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-paperclip"></i>
      <span class="caption-subject bold uppercase">Хавсралт баримт бичиг</span>
    </div>
    <div class="tools">
      <a class="" href="javascript: themeEdit('side-file-area');" style="padding: 0px;font-size: 12px;"><i class="icon-plus3 font-size-12"></i></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="bp-tmp-attach-group">
      <div class="theme-data-area">
        {{rowsbegin}}    
        <div class="theme-row">
          <div class="col-md-5">{{pos1}}</div>
          <div class=" col-md-7 boot-file-input-wrap-theme">
            {{pos2}}
          </div>
          <div class="col-md-12 theme-line"></div>
        </div>
        {{rowsend}}
      </div>    
    </div>
  </div>
</div>

<style>   
  .process-theme3 .col-md-8 .side-file-area {
      background-color: #fff;
      margin-top: 10px;
      padding: 15px 30px;
      clear: both;
      display: table;
      width: 100%;
  }

  .process-theme3 .side-file-title {
      font-size: 30px;
      font-family: 'Open Sans Condensed', sans-serif;
      border-bottom: 1px solid #ffc000;
      padding-bottom: 26px;
      margin-bottom: 10px;
  }

  .process-theme3 .theme-row .theme-line {
      border-bottom: 1px solid #efefef;
      margin: 5px 0px;
  }
  .process-theme3 .boot-file-input-wrap-theme label[data-label-path] ,
    .process-theme3 .fancybox-button {
       display: none;
    }
    
    .boot-file-input-wrap-theme > a{
        display: none;
    }
    
    .boot-file-input-wrap-theme .file-preview-frame{
        width: auto;
        height: 150px;
    }
  

</style>