<div class="part-panel">
  <div class="profile-panel theme-panel mt10 no-padding" id="profile-panel">
    <div class="profile-item theme-row">

      <div class="main-title">
        <i class="fa fa-user left-side-title-icon"></i>
        <span class="left-side-title"><lang>Товч мэдээлэл</lang></span>
      </div>

      <div class="profile-row">
        {{pos1}}   
      </div>
      <div class="profile-row">
        {{pos2}}    
      </div>
      <div class="profile-row">
        {{pos3}}    
      </div>
      <div class="profile-row">
        {{pos4}}     
      </div>
      <div class="profile-row">
        {{pos5}}    
      </div>
      <div class="profile-row">
        {{pos6}}    
      </div>
      <div class="profile-row">
        {{pos7}}    
      </div>
      <div class="profile-row">
        {{pos8}}    
      </div>
      <div class="profile-row">
        {{pos9}}    
      </div>
      <div class="profile-row">
        {{pos10}}    
      </div>
    </div>
  </div>
</div>
<style>
  .part-panel .profile-panel {
      margin-top: 20px;
      padding: 30px;
      clear: both;
      display: table;
      width: 100%;
  }    

  .part-panel .profile-title {
      font-size: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #d9d9d9;
  }

  .part-panel .dateInit {
      width: 70px;
  }

  .part-panel .profile-item {
      margin-top: 10px;
  }

  .part-panel .profile-row {
      display: flex;
  }

  .part-panel .profile-row .dateElement.input-group .form-control {
      margin: 5px 0px !important;
  }
  .part-panel .profile-row textarea {
      width: 140px;
  }

  .part-panel .profile-row .dateElement .input-group-btn .btn {
      border: none;
      background: transparent;
  }

  .part-panel .purpose {
      padding: 0 30px;
  }
  .part-panel .purpose label[data-label-path] {
      display: none;
  }
  .part-panel .purpose .form-control {
      width: 235px
  }
  .part-panel .profile-row .select2-container {
      width: 140px
  }

</style>