<style>
  .part-panel{
      margin-top: 20px;
      padding: 0;
      clear: both;
      display: table;
      width: 100%;
  }    

  .part-panel .profile-title {
      font-size: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #d9d9d9;
  }
  .part-panel .dateInit {
      width: 70px;
  }
  .part-panel .profile-row {
      display: flex;
  }
  .part-panel .profile-row.lastp {
      display: block;
  }
  .part-panel .profile-row .dateElement.input-group .form-control {
      margin: 5px 0px !important;
      width: 73% !important;
      min-width: 73% !important;
  }
  .part-panel .dateElement {
      max-width: 60% !important;
      width: 60%;
  }
  .part-panel .profile-row textarea {
      width: 55%;
  }
  .part-panel .profile-row div:first-child { 
      width:100%;
  }
  .part-panel .profile-row .dateElement .input-group-btn .btn {
      border: none;
      background: transparent;
      margin-top: 8px;
  }

  .part-panel .purpose {
      padding: 0 30px;
  }
  .part-panel .purpose label[data-label-path] {
      display: none;
  }
  .part-panel .purpose .form-control {
      width: 235px
  }
  .part-panel .profile-row .select2-container {
      width: 50%
  }
  .part-panel .lang-text {
      margin-left: 35px;
  }
  .file-p-row  {
      width: 56%;
  }
  .file-p-row label[data-label-path] {
      width: 35% !important;
  }
  .process-theme2 .left-side .main-title i{
    display: block;
    float: left;
    width: 25px;
  }
</style>

<div id="profile-panel">
  <div class="theme-grid-title">
    <div class="col-md-12 section-title">Ерөнхий мэдээлэл <span class="lang-text">/General information/</span></div>
  </div>
  <div class="profile-item theme-row row">
    <div class="col-md-4 profile-row">
      {{pos1}}   
    </div>
    <div class="col-md-4 profile-row">
      {{pos2}}    
    </div>
    <div class="col-md-4 profile-row">
      {{pos3}}    
    </div>
    <div class="col-md-4 profile-row">
      {{pos4}}     
    </div>
    <div class="col-md-4 profile-row">
      {{pos5}}    
    </div>
    <div class="col-md-4 profile-row">
      {{pos6}}    
    </div>
    <div class="col-md-4 profile-row">
      {{pos7}}    
    </div>
    <div class="col-md-4 profile-row lastp">
      {{pos8}}    
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos9}}
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos10}}
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos11}}
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos12}}
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos13}}
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos14}}
    </div>
    <div class="col-md-4 profile-row file-p-row">
      {{pos15}}
    </div>
  </div>
</div>