<style type="text/css">
  #pro-kpi {
      padding: 0px;
  }
  #pro-kpi .kpi-title h3.title {
      color: #575757;
      font-size: 18px;
      font-weight: bold;
  }
  #pro-kpi .kpi-first {
      background: #2f2f2f;
      padding: 20px 10px 3px 5px;
  }
  #pro-kpi .kpi-second {
      background: #efefef;
      padding: 20px 2px 0 10px;
  }
  #pro-kpi .kpi-sub-title {
      color: #c69d37;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 10px;
  }
  #pro-kpi .kpi-sub-desc {
      color: #a5a6a5;
      margin-bottom: 10px;
      font-size: 12px;
  }
  #pro-kpi .inside-title {
      color: #000;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
  }
  #pro-kpi .inside-content{
      backgrounf: #fff;
      margin-bottom: 5px;
  }
  #pro-kpi .inside-content .pos-one .input-sm {
      color: #b6b6b6;
      margin-bottom: 5px;
      font-size: 12px;
  }
  #pro-kpi .inside-content .pos-two .input-sm {
      color: #666666;
      font-size: 12px;
  }
</style>

<div id="pro-kpi">
  <div class="col-md-12 kpi-title"><h3 class="title"><lang>KPI</lang></h3></div>

  <div class="col-md-3 col-sm-12 col-xs-12 no-padding kpi-first">
    <span class="kpi-sub-title">Career & Jobs</span>

    <div>
      <span class="kpi-sub-desc">{{pos1}}</span>
    </div>
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12 no-padding kpi-second">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div>
        <span class="inside-title">Financial</span>
      </div>
      <div class="boot-file-input-wrap-theme" defaultHeight="120">
        {{pos2}}
      </div>  
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div>
        <span class="inside-title">News</span>
      </div>
      <div class="theme-data-area">
        {{rowsbegin}}
        <div class="theme-row">
          <div class="col-md-12 col-sm-12 col-xs-12 no-padding inside-content">
            <div class="pos-one"><span>{{pos3}}</span></div>
            <div class="pos-two"><span>{{pos4}}</span></div>
          </div>
        </div>
        {{rowsend}}
      </div>
    </div>
  </div>
</div>