<div class="main-section">
  <div class="row first-row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos1}}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos2}}
    </div>
  </div>

  <div class="row second-row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos3}}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos4}}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos5}}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos6}}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      {{pos7}}
    </div>
  </div>
</div>
