<div class="contact-panel theme-panel no-padding" id="contact-panel">
    <div class="contact-title">ХОЛБОО БАРИХ МЭДЭЭЛЭЛ</div>
    <div class="contact-item theme-row">
        <div class="col-md-12">
            {{pos1}}
        </div>
        <div class="col-md-12">
            {{pos2}}
        </div>
        <div class="col-md-12">
            {{pos3}}
        </div>
        <div class="col-md-12">
            {{pos4}}
        </div>
    </div>
</div>
<style>
    .process-theme2 .contact-panel {
        margin-top: 10px;
        padding: 30px;
        clear: both;
        display: table;
        width: 100%;
    }  
    
    .process-theme2 .contact-title {
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #d9d9d9;
    }
    
    .process-theme2 .contact-item {
        margin-top: 10px;
    }
</style>