<div class="portlet light shadow skill-area theme-panel" id="skill-area">
    <div class="skill-title">
        <div class="col-md-11 section-title">Ур чадвар</div> 
        <div class="btn-area col-md-1"><a class="btn btn-circle btn-icon-only theme-edit-btn" href="javascript: themeEdit('skill-area');" style="padding: 2px;"><i class="icon-plus3 font-size-12"></i></a></div>
    </div>
    <div class="theme-data-area">
        {{rowsbegin}}
        <div class="theme-row">
            <div class="col-md-12">{{pos1}}</div>
            <div class="col-md-12">{{pos2}}</div>
            <div class="col-md-12">{{pos3}}</div>
            <div class="col-md-12 theme-line"></div>
            </div>
        {{rowsend}}
    </div>
    <div class="btn-area"></div>
</div>

<style>   
    .process-theme2 .col-md-8 .skill-area {
        background-color: #fff;
        padding: 15px 30px;
        clear: both;
        display: table;
        width: 100%;
        border-radius: 0px;
    }
    
    .process-theme2 .skill-title {
        font-size: 30px;
        font-family: 'Open Sans Condensed', sans-serif;
        border-bottom: 1px solid #ffc000;
        padding-bottom: 26px;
        margin-bottom: 10px;
    }
    
    .process-theme2 .theme-line {
        border-bottom: 1px solid #efefef;
    }
</style>