<div class="card light shadow theme-grid-area theme-panel">
    <!-- <div class="theme-grid-title">
        <div class="col-md-11 section-title">Mult <span class="lang-text" style="display: inline;">/Other/</span></div>
    </div> -->
    <div class="row">
        <div class="col-md-6 pt20">
            <div class="w-100 mt1 pl20 ">{{pos1}}</div>
            <div class="w-100 mt1 pl20 ">{{pos2}}</div>
            <div class="w-100 mt1 pl20 ">{{pos3}}</div>
            <div class="w-100 mt1 pl20 ">{{pos4}}</div>
            <div class="w-100 mt1 pl20 ">{{pos5}}</div>
            <div class="w-100 mt1 pl20 ">{{pos6}}</div>
            <div class="w-100 mt1 pl20 ">{{pos7}}</div>
        </div>
        <div class="col-md-6 pt20">
            <div class="w-100 mt1 pl20 ">{{pos8}}</div>
            <div class="w-100 mt1 pl20 ">{{pos9}}</div>
            <div class="w-100 mt1 pl20 ">{{pos10}}</div>
            <div class="w-100 mt1 pl20 ">{{pos11}}</div>
            <div class="w-100 mt1 pl20 ">{{pos12}}</div>
            <div class="w-100 mt1 pl20 ">{{pos13}}</div>
            <div class="w-100 mt1 pl20 ">{{pos14}}</div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="d-flex align-items-center w-100">{{pos15}}</div>
            <div class="d-flex align-items-center w-100">{{pos16}}</div>
            <div class="d-flex align-items-center w-100">{{pos17}}</div>
            <div class="d-flex align-items-center w-100">{{pos18}}</div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center w-100">{{pos19}}</div>
            <div class="d-flex align-items-center w-100">{{pos20}}</div>
            <div class="d-flex align-items-center w-100">{{pos21}}</div>
            <div class="d-flex align-items-center w-100">{{pos22}}</div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center w-100">{{pos23}}</div>
            <div class="d-flex align-items-center w-100">{{pos24}}</div>
            <div class="d-flex align-items-center w-100">{{pos25}}</div>
            <div class="d-flex align-items-center w-100">{{pos26}}</div>
        </div>
    </div>
    <div class="row mt-3 unianek pl20 pr20"> 
        <p class="mb0 pl10" style="position: absolute;">Таны хүсч буй цалин:</p>
        <div class="col-sm-2">{{pos27}}</div>
        <div class="col-sm-2">{{pos28}}</div>
        <div class="col">{{pos29}}</div>
        <div class="col">{{pos30}}</div>
        <div class="col-sm-3">{{pos31}}</div>
        <div class="col">{{pos32}}</div>
        <div class="col">{{pos33}}</div>
        <div class="col">{{pos35}}</div>
        <div class="col">{{pos36}}</div>
        <div class="col">{{pos37}}</div>
    </div>
    <div class="row">
        <div class="col-3">{{pos38}}</div>
        <div class="col-3">{{pos39}}</div>
        <div class="col-3">{{pos40}}</div>
        <div class="col-3">{{pos41}}</div>
    </div>
    <div class="row">
        <div class="col-6">{{pos42}}</div>
        <div class="col-6">{{pos43}}</div>
    </div>
    <div class="row">
        <div class="col">{{pos44}}</div>
        <div class="col">{{pos45}}</div>
        <div class="col">{{pos46}}</div>
        <div class="col">{{pos47}}</div>
        <div class="col">{{pos48}}</div>
        <div class="col">{{pos49}}</div>
    </div>
    <div class="clearfix"></div>
</div>