<div class="portlet light side-file-area" id="side-file-area">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-paperclip"></i>
      <span class="caption-subject bold uppercase">Хавсралт баримт бичиг</span>
    </div>
    <div class="tools">
      
    </div>
  </div>
  <div class="portlet-body">
    <div class="bp-tmp-attach-group" id="bpAddonTabArea">
        {{addons}}
    </div>
  </div>
</div>

<style>   
  .process-theme3 .col-md-8 .side-file-area {
      background-color: #fff;
      margin-top: 10px;
      padding: 15px 30px;
      clear: both;
      display: table;
      width: 100%;
  }

  .process-theme3 .side-file-title {
      font-size: 30px;
      font-family: 'Open Sans Condensed', sans-serif;
      border-bottom: 1px solid #ffc000;
      padding-bottom: 26px;
      margin-bottom: 10px;
  }

  .process-theme3 .theme-row .theme-line {
      border-bottom: 1px solid #efefef;
      margin: 5px 0px;
  }
  
  .process-theme3 .list-view-photo { 
      width: 380px !important;
  }
  
   .process-theme3 .list-view-file { 
      width: 333px !important;
      display: flex;
      overflow-x: auto;
  }
  
  .process-theme3 ul.list-view-file > li > a,  process-theme3 ul.list-view-file > li > a > img
  {
    width: 150px;
  }

</style>