<div class="profile-panel-div">
  <div class="profile-panel theme-panel mt10 no-padding" id="profile-panel">
    <div class="profile-item theme-row">

      <div class="main-title">
        <i class="fa fa-user left-side-title-icon"></i>
        <span class="left-side-title"><lang>Товч мэдээлэл</lang></span>
      </div>

      <div class="profile-row">
        {{pos1}}   
      </div>
      <div class="profile-row">
        {{pos2}}    
      </div>
      <div class="profile-row">
        {{pos3}}    
      </div>
      <div class="profile-row">
        {{pos4}}     
      </div>
      <div class="profile-row">
        {{pos5}}    
      </div>
      <div class="profile-row">
        {{pos6}}    
      </div>
      <div class="profile-row">
        {{pos7}}    
      </div>
      <div class="profile-row">
        {{pos8}}    
      </div>
      <div class="profile-row">
        {{pos9}}    
      </div>
      <div class="profile-row">
        {{pos10}}    
      </div>

      <div class="main-title">
        <i class="fa fa-phone left-side-title-icon"></i>
        <span class="left-side-title"><lang>Address</lang></span>
      </div>

      <div class="profile-row">
        {{pos11}}    
      </div>        
      <div class="profile-row">
        {{pos12}}    
      </div>        
      <div class="profile-row">
        {{pos13}}    
      </div>        
      <div class="profile-row">
        {{pos14}}    
      </div>        
      <div class="profile-row">
        {{pos15}}    
      </div>        
      <div class="profile-row">
        {{pos16}}    
      </div>        
    </div>
  </div>
</div>
<style>
  .profile-panel-div .profile-panel {
      margin-top: 20px;
      padding: 30px;
      clear: both;
      display: table;
      width: 100%;
  }    

  .profile-panel-div .profile-title {
      font-size: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #d9d9d9;
  }

  .profile-panel-div .dateInit {
      width: 70px;
  }

  .profile-panel-div .profile-item {
      margin-top: 10px;
  }

  .profile-panel-div .profile-row {
      display: flex;
  }

  .profile-panel-div .profile-row .dateElement.input-group .form-control {
      margin: 5px 0px !important;
  }

  .profile-panel-div .profile-row .dateElement .input-group-btn .btn {
      border: none;
      background: transparent;
  }

  .profile-panel-div .purpose {
      padding: 0 30px;
  }
  .profile-panel-div .purpose label[data-label-path] {
      display: none;
  }
  .profile-panel-div .purpose .form-control {
      width: 235px
  }
  .profile-panel-div .profile-row .select2-container {
      width: 140px
  }

</style>