<div class="education-panel shadow theme-panel" id="education-panel">
    <div class="education-title"><lang>Education</lang></div>
    <div class="theme-data-area">
        {{rowsbegin}}
            <div class="education-item theme-row">
                <div class="education-row">
                    <div class="col-md-12 no-padding">
                        <span class="year-begin">
                            {{pos3}}                       
                        </span> <span>-</span> 
                        <span class="year-end">
                            {{pos4}}                        
                        </span>
                        <span class="education-name">
                            {{pos1}}                   
                        </span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>
                            {{pos2}}                   
                        </span>
                    </div>
                    <div class="hidden">
                        {{pos5}}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        {{rowsend}}
    </div>
    <div class="btn-area"></div>
</div>
<style>
    .process-theme1 .education-panel {
        background-color: #fff;
        margin-top: 20px;
        padding: 30px;
        clear: both;
        display: table;
        width: 100%;
    }    
    .process-theme1 .education-row span {
        font-weight: bold;
    }
    
    .process-theme1 .education-name {
        
    }
    .process-theme1 .education-title {
        font-size: 30px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .process-theme1 .education-item {
        margin-top: 10px;
    }
</style>