<div id="top-doc-info-parent">
  <div class="col-md-7 right-top-info top-doc-info">
    <div class="col-md-3 boot-file-input-wrap-theme no-padding" defaultHeight="50">{{pos1}}</div>
    <div class="col-md-4 no-padding no-padding">
      <div class="col-md-12">{{pos2}}</div>
      <div class="col-md-12 position-name">{{pos3}}</div>
    </div>
  </div>
  <div class="col-md-5 top-doc-info">{{pos4}}</div>
</div>

<style type="text/css">
  #top-doc-info-parent .right-top-info {
      border-right: 1px solid #aeaeae;
  }
  #top-doc-info-parent .right-top-info .file-drop-disabled {
      height: 50px;
      width: 50px;
  }
  #top-doc-info-parent .right-top-info .boot-file-input-wrap-theme .file-input {
      float: right;
  }

  #top-doc-info-parent .top-doc-info label[data-label-path] {
      display: none;
  }

  #top-doc-info-parent .top-doc-info .position-name {
      margin-top: -7px;
  }

  #top-doc-info-parent .hidden-xs, #top-doc-info-parent .right-top-info .fileinput-remove,#top-doc-info-parent .right-top-info .btn-file{
      display: none !important;
  }

  #top-doc-info-parent .top-doc-info ::-webkit-input-placeholder {
      color: #fff !important;
      font-weight: 400;
  }

  #top-doc-info-parent .top-doc-info :-moz-placeholder { /* Firefox 18- */
      color: #fff !important;
      font-weight: 400;
  }

  #top-doc-info-parent .top-doc-info ::-moz-placeholder {  /* Firefox 19+ */
      color: #fff !important;
      font-weight: 400;
  }

  #top-doc-info-parent .top-doc-info :-ms-input-placeholder {  
      color: #fff !important;
      font-weight: 400;
  }
</style>