<div class="lined-params">
  <div class="col-md-12 info-line">{{pos1}}</div>
  <hr />
  <div class="col-md-12 info-line">{{pos2}}</div>
  <div class="col-md-12 info-line">{{pos3}}</div>
  <div class="col-md-12 info-line">{{pos4}}</div>
  <div class="col-md-12 info-line">{{pos5}}</div>
  <div class="col-md-12 info-line">{{pos6}}</div>
  <div class="col-md-12 info-line">{{pos7}}</div>
  <div class="col-md-12 info-line">{{pos8}}</div>
  <div class="col-md-12 info-line">{{pos9}}</div>
  <div class="col-md-12 info-line">{{pos10}}</div>
  <div class="col-md-12 info-line">{{pos11}}</div>
  <div class="col-md-12 info-line">{{pos12}}</div>
  <div class="col-md-12 info-line">{{pos13}}</div>
  <div class="col-md-12 info-line">{{pos14}}</div>
  <div class="col-md-12 info-line">{{pos15}}</div>
</div>

<style type="text/css">
  .lined-params .info-line {
      border-bottom: 1px solid #ddd;
  }

  .lined-params .info-line:last-child {
      border-bottom: none;
  }
  .lined-params .info-line:first-child .input-sm{
      background: #ffa756 !important;
  }

  .lined-params .info-line label[data-label-path] {
      width: 23% !important;
      color: #60676e !important;
  }

  .lined-params .info-line .input-sm {
      font-weight: bold;
  }

</style>