<div class="profile-panel theme-panel mt10 no-padding" id="profile-panel">
    <div class="profile-title"><lang>General information</lang></div>
    <div class="profile-item theme-row">
        <div class="profile-row">
                {{pos1}}   
        </div>
        <div class="profile-row">
                {{pos2}}    
        </div>
        <div class="profile-row">
                {{pos3}}    
        </div>
        <div class="profile-row">
                {{pos4}}     
        </div>
        <div class="profile-row">
                {{pos5}}    
        </div>
    </div>
</div>
<style>
    .process-theme2 .profile-panel {
        margin-top: 20px;
        padding: 30px;
        clear: both;
        display: table;
        width: 100%;
    }    
    
    .process-theme2 .profile-title {
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #d9d9d9;
    }
    
    .process-theme2 .dateInit {
        width: 70px;
    }
    
    .process-theme2 .profile-item {
        margin-top: 10px;
    }
    
    .process-theme2 .profile-row .dateElement.input-group .form-control {
        margin: 5px 0px !important;
    }
    
</style>