<div class="portlet light shadow theme-grid-area theme-panel section51">
  <div class="row">
    <div class="col-3">
      <div class="mb-2">{{pos1}}</div>
      <div class="mb-2">{{pos2}}</div>
      <div class="mb-2">{{pos3}}</div>
      <div class="mb-2">{{pos4}}</div>
      <div class="mb-2">{{pos5}}</div>
      <div class="mb-2">{{pos6}}</div>      
      <div class="mb-2">{{pos7}}</div>
      <div class="mb-2">{{pos8}}</div>
    </div>
    <div class="col-3">
      <div class="mb-2">{{pos9}}</div>
      <div class="mb-2">{{pos10}}</div>
      <div class="mb-2">{{pos11}}</div>
      <div class="mb-2">{{pos12}}</div>
      <div class="mb-2">{{pos13}}</div>
      <div class="mb-2">{{pos14}}</div>      
      <div class="mb-2">{{pos15}}</div>
      <div class="mb-2">{{pos16}}</div>
    </div>
    <div class="col-3">
      <div class="mb-2">{{pos17}}</div>
      <div class="mb-2">{{pos18}}</div>
      <div class="mb-2">{{pos19}}</div>
      <div class="mb-2">{{pos20}}</div>
      <div class="mb-2">{{pos21}}</div>
      <div class="mb-2">{{pos22}}</div>      
      <div class="mb-2">{{pos23}}</div>
      <div class="mb-2">{{pos24}}</div>
    </div>
    <div class="col-3">
      <div class="mb-2">
          <div class="boot-file-input-wrap-theme" defaultHeight="120">
          {{pos25}}
          </div>
      </div>
    </div>
  </div>
</div>
<style>
    .section51 .boot-file-input-wrap-theme img {
        height: 120px !important;
    }
    
    .section51 .boot-file-input-wrap-theme a{
        display: none;
    }
    
    .section51 .file-input, .section51 .file-preview {
        text-align: right;
        padding: 0px;
    }
    .section51 .file-preview .file-preview-thumbnails {
        width: 100% !important;
    }
    .section51 .file-preview .file-preview-frame {        
    }
    .section51 .file-drop-disabled {
        width: 100% !important;
        height: 120px !important;
        margin-right: 0px !important;
        border: 0px ;
        display: inline-flex;
    }
    
    .section51 .boot-file-input-wrap-theme > a{
        display: none;
    }
    
    .section51 .boot-file-input-wrap-theme > label {
        display: none;
    }
    
    .section51 .boot-file-input-wrap-theme .file-input .btn-file {
        /*display: none;*/
    }
    .section51 .boot-file-input-wrap-theme .file-input {
        /*width: 100%;*/
    }
/*    .section51 .boot-file-input-wrap-theme .file-input:hover >  .btn-primary, .section51 .boot-file-input-wrap-theme .file-input:hover >  .fileinput-remove-button{
        display: inline-block !important;
    }*/
    .section51 .fileinput-remove-button{
        display: inline-block !important;
        float: right;
        margin-top: 1px;
        margin-right: 10px;
    }
    .section51 .boot-file-input-wrap-theme .file-input button {
        display: none;
    }
    
    .section51 .boot-file-input-wrap-theme .file-input .btn-file{
        width: 28px;
        height: 28px;
        padding: 2px 6px;
        margin-top: 1px;
    }
    
    .section51 .boot-file-input-wrap-theme .file-input .btn-file i {
        margin-right: 10px;
    }
    
    .section51 .boot-file-input-wrap-theme .file-input .btn-primary{
        color: #444;
        background-color: #cecece;
    }
    
    .section51 .basic-info-row {
        text-align: center;
    }
    
    .section51 .basic-info-row label[data-label-path] {
        display: none;
    }
    
    .section51 .basic-info-row input[data-path] {
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
    }
    .section51 .boot-file-input-wrap-theme .filename {
        display: none;
    }
    .section51 .boot-file-input-wrap-theme .bp-file-choose-btn {
        display: none !important;
    }
    .section51 button.action {
        display: none;
    }
    .section51 .file-thumbnail-footer {
        display: none;
    }
</style>