<div class="col-md-12 no-padding">
    <label class="pl10">CONTACT</label>
</div>

<div class="col-md-12 no-padding mb10">
    <div class="col-md-2">
        <div class="contact-icon pt10">
            <i class="fa fa-home fa-2x"></i>
        </div>
    </div>
    <div class="col-md-10 contactInputs">
        <span>{{pos1}}</span>
        <span>{{pos2}}</span>
    </div>
</div>

<div class="col-md-12 no-padding mb10">
    <div class="col-md-2">
        <div class="contact-icon pt10">
            <i class="fa fa-envelope fa-2x"></i>
        </div>
    </div>
    <div class="col-md-10 contactInputs">
        {{pos3}}
    </div>
</div>

<div class="col-md-12 no-padding mb10">
    <div class="col-md-2">
        <div class="contact-icon pt10">
            <i class="fa fa-globe fa-2x"></i>
        </div>
    </div>
    <div class="col-md-10 contactInputs">
        {{pos4}}
    </div>
</div>

<div class="col-md-12 no-padding mb10">
    <div class="col-md-2">
        <div class="contact-icon pt10">
            <i class="fa fa-phone fa-2x"></i>
        </div>
    </div>
    <div class="col-md-10 contactInputs">
        {{pos5}}
    </div>
</div>
<style>
    .process-theme1 .contact-icon{
    } 

    .process-theme1 .left-column .contactInputs label[data-label-path] {
        display: none;
    }

    .contactInputs {
        padding: 0px 5px;
    }

    .contactInputs div.select2-container {
        width: 120px;
    }
</style>