<style>
  #project-info {
      background: #fff;
      padding: 10px 0;
  }
  #project-info label[data-label-path] {
      text-align: right;
      width: 24%;
      margin: 7px 10px;
      float: left;
      font-family: 'Pt Sans Narrow', sans-serif;
      font-size: 14px;
  }
  #project-info .project-info-row {
      clear: both;
  }
  #project-info .dateElement {
      margin: 10px;
  }
  #project-info textarea {
      width: 55%;
  }

</style>

<div id="project-info">
  <div class="project-info-row">{{pos1}}</div>
  <div class="project-info-row">{{pos2}}</div>
  <div class="project-info-row">{{pos3}}</div>
  <div class="project-info-row">{{pos4}}</div>
  <div class="project-info-row">{{pos5}}</div>
  <div class="project-info-row">{{pos6}}</div>
  <div class="project-info-row">{{pos7}}</div>
  <div class="project-info-row">{{pos8}}</div>
  <div class="project-info-row">{{pos9}}</div>
  <div class="project-info-row">{{pos10}}</div>
</div>
