<div class="portlet light shadow theme-grid-area theme-panel">
  <div class="row">
    <div class="col-6">
      <div class="mb-2">{{pos1}}</div>
      <div class="mb-2">{{pos2}}</div>
      <div class="mb-2">{{pos3}}</div>
      <div class="mb-2">{{pos4}}</div>
      <div class="mb-2">{{pos5}}</div>
      <div class="mb-2">{{pos6}}</div>      
      <div class="mb-2">{{pos7}}</div>
      <div class="mb-2">{{pos8}}</div>
      <div class="mb-2 pos-parent">
        <div style="display:inline !important;">{{pos9}}</div>
        <span style="margin-top: 8px;">3MB</span>
      </div>
      <div class="mb-2">{{pos10}}</div>    
      <div class="mb-2">{{pos21}}</div>
      <div class="mb-2">{{pos22}}</div>
      <div class="mb-2">{{pos23}}</div>
      <div class="mb-2">{{pos24}}</div>
      <div class="mb-2">{{pos25}}</div>
      <div class="mb-2">{{pos26}}</div>
      <div class="mb-2">{{pos27}}</div>
      <div class="mb-2">{{pos28}}</div>
      <div class="mb-2">{{pos29}}</div>
      <div class="mb-2">{{pos30}}</div>
    </div>
    <div class="col-6">
      <div class="mb-2">{{pos11}}</div>
      <div class="mb-2">{{pos12}}</div>
      <div class="mb-2">{{pos13}}</div>
      <div class="mb-2">{{pos14}}</div>
      <div class="mb-2">{{pos15}}</div>
      <div class="mb-2">{{pos16}}</div>
      <div class="mb-2">{{pos17}}</div>
      <div class="mb-2">{{pos18}}</div>
      <div class="mb-2 pos-parent">
        <div style="display:inline !important;">{{pos19}}</div>
        <span style="margin-top: 8px;">3MB</span>
      </div>
      <div class="mb-2">{{pos20}}</div>
      <div class="mb-2">{{pos31}}</div>
      <div class="mb-2">{{pos32}}</div>
      <div class="mb-2">{{pos33}}</div>
      <div class="mb-2">{{pos34}}</div>
      <div class="mb-2">{{pos35}}</div>
      <div class="mb-2">{{pos36}}</div>
      <div class="mb-2">{{pos37}}</div>
      <div class="mb-2">{{pos38}}</div>
      <div class="mb-2">{{pos39}}</div>
      <div class="mb-2">{{pos40}}</div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">{{pos41}}</div>
    <div class="mb-2">{{pos42}}</div>
    <div class="mb-2">{{pos43}}</div>
    <div class="mb-2">{{pos44}}</div>
    <div class="mb-2">{{pos45}}</div>
  </div>
</div>