.vr-workspace-theme20 {
    display: table;
    width: 100%;    
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background-color: #EBEBEB;
}
.vr-workspace-theme20 .ws-menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #b3b3b3;
    border: none !important;    
}
.vr-workspace-theme20 .ws-bg {
    /*background: #b3b3b3;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height: 63px;
}
.vr-workspace-theme20 .hide {
    /*display: none !important;*/
}
.vr-workspace-theme20 .close-btn > i {
    color: #444;
}
.vr-workspace-theme20 .close-btn {
    position: absolute;
    background: #ebebeb;
    border-radius: 50%;
    color: #444;
    border: 1px solid #999999;
    top: -21px !important;
    right: 18px;    
}
.vr-workspace-theme20 .left-side {
    width: 18%;
    float: left;
    padding: 0 10px 0 5px;
}
.vr-workspace-theme20 .left-side .profile-userpic {
    padding-top: 5px;
}
.vr-workspace-theme20 .left-side .profile-userpic img {
    border-radius: 10px;
    border: 1px solid #fff;
    height: 160px !important;
    width: 160px !important;
    margin: 10px auto 0;
    background: #e7e7e7;

}
.vr-workspace-theme20 .left-side .mt0 img {
    margin: 0 auto 0;
}
.vr-workspace-theme20 .right-side {
    width: 82%;
    float: left;
    padding: 0px 0px 0 10px;
    margin-top: -70px;
}
.vr-workspace-theme20 #stick-content {
    min-height: 100px;
}
.vr-workspace-theme20 .workspace-main-container {
    border-radius: 0px;
    padding: 12px 0 10px !important;
    padding-top: 5px !important;
    min-height: 300px;
    overflow: auto;
    margin: 0;
}
.vr-workspace-theme20 #project-info {
    /*padding: 10px 25px 30px;*/
    color: #6e6e6e;
}
.vr-workspace-theme20 #project-info .main-title {
    margin: 10px 5%;
    clear: both;
}
.vr-workspace-theme20 #project-info .main-title > .left-side-title {
    color: #cacaca;
    text-transform: uppercase;                
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
}
.vr-workspace-theme20 #project-info .main-title > i.left-side-title-icon {
    color: #fff;  
    background: #2574a9;
    padding: 5px 7px;
    border-radius: 50%;
}
.vr-workspace-theme20 #project-info .project-info-row .control-pos {
    padding-left: 5px;
    display: table;
}
.vr-workspace-theme20 #project-info .purpose {
    padding: 0 0px 0 50px;
}
.vr-workspace-theme20 #project-info .project-info-row {
    padding: 10px 0 0;
    clear: both;
    font-size: 14px;
}
.vr-workspace-theme20 #project-info .project-info-row-left {
    padding: 10px 0 0;
    text-align: left !important;
}
.vr-workspace-theme20 h4.first-pos {
    color: #405758;
    /*text-transform: uppercase;*/
    /*text-align: center;*/
    font-size: 21px;
    font-weight: bold;
    /*    position: absolute;
        left: 1%;
        top: 0px;*/
    
    margin: 16px 0;
    height: 16px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions {
    padding: 0 10px;
    margin-left: 30px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions1 {
    padding: 0 10px;
    float: left;
    color: #0a0a0a;
    margin-left: 6px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions2 {
    padding: 0 10px;
    float: right;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions2 .control-position {
    color: #00abe5;
    font-size: 18px;
}
.vr-workspace-theme20 #project-info .position-highlight {
    border-top: 1px solid #fff;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -10px;
    margin-bottom: -11px;
}
.vr-workspace-theme20 #project-info .position-highlight-full {
    border-top: 1px solid #999999;
    padding-top: 18px;
    margin-top: 20px;
    margin-left: -5px;
    margin-bottom: -11px;
    margin-right: -10px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions .control-position {    
    margin-left: 26px;
    color: #fff;
    font-weight: bold;
    margin-top: 2px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions .control-position-nobold {    
    /*float: left;*/
    color: #333;
    margin-top: 2px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions .control-position-inline {    
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
    height: 18px;
}
.vr-workspace-theme20 #project-info .project-info-row .header-positions .label-position {
    color: #0a0a0a;
    margin-left: 26px;
}
.vr-workspace-theme20 #project-info .project-info-row .label-pos {
    color: #020202;
    width: 30%;
    float: left;
    text-align: right;
    font-weight: bold;    
}
.vr-workspace-theme20 #project-info .project-info-row .name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.vr-workspace-theme20 .ws-page-container {
    /*border-top: 1px solid #c3c3c3;*/
}

.vr-workspace-theme20 .ws-page-content {
    overflow: hidden;
    clear: both;
}
.vr-workspace-theme20 .ws-menu {
    background: #b3b3b3;
    display: flex;
    
}
.vr-workspace-theme20 .ws-menu .workspace-menu {
    margin-bottom: 0;
    border-bottom: none;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li {
    /*border-right: 1px solid #91959c;*/
    text-align: center;
    padding: 1px 5px;
    background: inherit;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li a {
    color: #405758;
    font-size: 14px;
    /*text-transform: uppercase;*/
    border-radius: 0px;
    text-align: center;
    margin: 0;
    outline: none;
    border: none;
    padding: 10px;
    
    font-weight: bold;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li.tabdrop a {
    text-align: left;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li a:hover,
.vr-workspace-theme20 .ws-menu .workspace-menu li a:focus,
.vr-workspace-theme20 .ws-menu .workspace-menu li a:active {
    background: none;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li a:hover i {
    color: #4ca8e6;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li i {
    color: #c5c5c5;
    font-size: 18px;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li:last-child {
    border-right: none
}
.vr-workspace-theme20 .ws-menu .workspace-menu li.active a {
    color: #fff;
    border: none;
    background: none;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li.active {
    border-bottom: 3px solid #405758;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li.active i {
    color: #4ca8e6;
}
.vr-workspace-theme20 .ws-menu .workspace-menu li i {
    display: none;
}
.vr-workspace-theme20 .ws-menu ul.workspace-menu ul.sub-menu {
    display: none;
    position: absolute; 
    z-index: 100;
    padding: 0; 
    left: 0;
    background: #373c43;
    margin-top: 2px;
}
.vr-workspace-theme20 .ws-menu ul.workspace-menu ul.sub-menu li {
    margin: 5px 0;
    list-style: none;
    background: #373c43;
    text-align: left;
    padding: 0 5px;
    border: none;
    width: 150px;
}
.vr-workspace-theme20 .ws-menu ul.workspace-menu ul.sub-menu li a {
    padding: 0; 
    background: #373c43;
    font-size: 14px;
    text-transform: none;
    color: #FAFAFA;
}
.vr-workspace-theme20 .ws-menu ul.workspace-menu li:hover > ul.sub-menu {
    display: inherit !important;    
}

.vr-workspace-theme20 .workspace-part > div.row:first-child {
    padding: 10px;
    margin: 0;
}
.vr-workspace-theme20 .package-meta {
    background: #e7e7e7;
}
.vr-workspace-theme20 .package-div {
    background: #fff;
    padding-top: 10px;
    margin-bottom: 11px;
}
.vr-workspace-theme20 .package-div.odd,
.vr-workspace-theme20 .package-div.odd .package-tab {
    background: #ffe99b;
}
.vr-workspace-theme20 .package-tab {
    background: #fff;
    padding: 15px;
}
.vr-workspace-theme20 .package-tab-name {
    border-spacing: initial;
    padding-top: 0;
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 14px;
    
    padding: 0 0 5px 8px;
    margin: 0;
    color: #00abe5;
    text-transform: uppercase;
    border-bottom: 1px dashed #cccccc;
}
.vr-workspace-theme20 .pf-carousel-1,
.vr-workspace-theme20 .pf-carousel-2,
.vr-workspace-theme20 .pf-carousel-3
{
    margin-top: 30px;
    
}
.vr-workspace-theme20 .pf-carousel-2 .owl-carousel .owl-item {
    width: 150px !important;
}
.vr-workspace-theme20 .pf-carousel-2 .product-item,
.vr-workspace-theme20 .pf-carousel-3 .product-item {
    border: 1px transparent solid;
}
.vr-workspace-theme20 .pf-carousel-2 .product-item:hover,
.vr-workspace-theme20 .pf-carousel-3 .product-item:hover {
    border: 1px #000 solid;
}
.vr-workspace-theme20 .pf-carousel-2 .pi-img-wrapper img {
    border-radius: 50%;
    height: 130px !important;
    width: 130px !important;
}
.vr-workspace-theme20 .pf-carousel-3 .pi-yellow-bg-title .pi-yellow-bg-title-name1 {
    height: 27px;
    overflow: hidden;
}
.vr-workspace-theme20 #amactivityMaindWindow {
    background: #fff;
}
.vr-workspace-theme20 .card-package-body {
    background: #fff;
    padding: 5px 10px;
}
.vr-workspace-theme20 .workspace-part {
    overflow: hidden;
}
.body-top-menu-style .vr-workspace-theme20 .card-package-body {
    background: none !important;
    padding: 0 !important;
}
.body-top-menu-style .vr-workspace-theme20 .package-tab {
    margin-top: -15px !important;
    margin-bottom: 0 !important;
    padding-bottom: 12px !important;
}
.body-top-menu-style .vr-workspace-theme20 .package-tab.tabbable-line > .nav-tabs {
    margin-bottom: 0 !important;
    margin-top: -28px;
}

@media screen and (max-width: 1366px) {
    .vr-workspace-theme20 .ws-menu .workspace-menu li {
        padding: 2px 5px;
        margin-top: 3px;
    }
    .vr-workspace-theme20 .ws-menu ul.workspace-menu ul.sub-menu {
        margin-top: 5px;
    }
    .vr-workspace-theme20  .navbar-nav>li>a {
        line-height: 10px;
    }
    .vr-workspace-theme20 .ws-menu .workspace-menu li a {
        font-size: 12px;
    }
    .vr-workspace-theme20 .right-side {
        margin-top: -70px;
    }
    .vr-workspace-theme20 .workspace-main-container {
            padding-top: 14px !important;
    }
}
@media screen and (min-width: 1500px) {
    .vr-workspace-theme20 .ws-menu .workspace-menu li a {
        font-size: 12px;
        padding: 5px;
    }
    .vr-workspace-theme20 .right-side {
        margin-top: -75px;
    }
}
@media screen and (min-width: 1600px) {
    .vr-workspace-theme20 .ws-menu .workspace-menu li {
        padding: 1px 5px;
        /*margin-top:4px;*/
    }
    .vr-workspace-theme20 .right-side {
        margin-top: -70px;
    }
}
.vr-workspace-theme20 .left-side .workspace-menu {
    list-style: none;
    padding-left: 0;
    background: #FFF;
}
.vr-workspace-theme20 .left-side .workspace-menu > li > a {
    border-left: none!important;
    color: rgba(84,97,133,1);
    background: #FFF;
    min-height: 38px;
    padding: 10px 15px;
    min-height: 38px;
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    text-decoration: none;
}
.vr-workspace-theme20 .left-side .workspace-menu > li > a > span.title {
    
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 7px;
    position: absolute;
    line-height: 14px;
    padding-top: 2px;
}
.vr-workspace-theme20 .left-side .workspace-menu > li {
    display: block;
    margin: 0;
    padding: 0;
}
.vr-workspace-theme20 .left-side .workspace-menu > li > a:hover {
    border-left: 3px solid #4ca8e6 !important;
    padding-left: 12px;
    color: #4ca8e6 !important;
    background: #FFF !important;
}
.vr-workspace-theme20 .left-side .workspace-menu > li.active > a {
    border-left: 3px solid #4ca8e6 !important;
    padding-left: 12px;
    color: #4ca8e6 !important;
    background: #FFF !important;
}
.vr-workspace-theme20 .ws-page-sidebar .slimScrollDiv {
    height: auto !important;
}

.vr-workspace-theme20 .ws-page-sidebar .slimScrollDiv .workspace-menu {
    height: auto !important;
}
.vr-workspace-theme20 .width-100 {
    width: 100% !important;
    padding:0 !important;
}
.vr-workspace-theme20 .timelineUploadBG {
    position: absolute;
    top: 65px;
    right: 3px;
}
.vr-workspace-theme20 .uploadFile {
    background: url('ws_cover_change.png') no-repeat;
    height: 32px;
    width: 32px;
    overflow: hidden;
    cursor: pointer;
}
.vr-workspace-theme20 .uploadFile input {
    filter: alpha(opacity=0);
    opacity: 0;
    margin-left: -110px;
}
.vr-workspace-theme20 .custom-file-input {
    height: 25px;
    cursor: pointer;
}
.ws_cover_div .jcrop-holder {
    margin: 0 auto;
}

.vr-workspace-theme20 .display-block {
    display: block !important;
    float:left !important; 
}
.vr-workspace-theme20 .margin-padding {
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    padding: 4px !important;
}
.vr-workspace-theme20 .width-0 {
    width:inherit !important;
}
.vr-workspace-theme20 .font-size-11 {
    font-size: 11px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    float: left !important;
    text-align: left !important;
}
.vr-workspace-theme20 .margin-padding .box {
    height: 27px;
}

.vr-worspace-theme19 .active>a {
    color: #CCC;
}
.workspace-main-container .viewer-container {
    margin-top: 10px;
}
.body-top-menu-style .vr-workspace-theme20 .ws-bg {
    /* background: #b3b3b3 !important; */
    background: #9ea2b3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52px !important;
    margin-top: -10px !important;
}
.body-top-menu-style .card-multi-tab-content .tab-pane .vr-workspace-theme20 .ws-menu {
    background: transparent !important;
}
.body-top-menu-style .card-multi-tab-content .tab-pane .vr-workspace-theme20 .package-tab {
    background-color: inherit;
}
.body-top-menu-style .card-multi-tab-content .tab-pane .vr-workspace-theme20 .package-div {
    background-color: #fff;
}
.body-top-menu-style .vr-workspace-theme20 .package-meta {
    background-color: inherit !important;
}
.vr-workspace-theme20 .left-side .profile-userpic img {
    height: 160px !important;
    width: 160px !important;
    margin: 0 auto;
    border-radius: 50% !important;
    background: #4c4c4c;
}
.body-top-menu-style .vr-workspace-theme20 h4.first-pos {
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    
    margin: 20px 0 4px !important;
    height: 18px !important;
    padding-top: 18px !important;
    margin-left: -21.58% !important;
}

.body-top-menu-style .vr-workspace-theme20 .right-side .emptyit .first-pos { 
    margin-left: 0 !important;
}
.vr-workspace-theme20 .left-side {
    width: 18%;
    float: left;
    padding: 0 10px 0 5px;
    
    min-height: 411px;
    border-right: 1px solid #ccc;    
    margin-top: -63px !important;
    background-color: #cecece;
    height: 180vh;    
}
.body-top-menu-style .vr-workspace-theme20 .left-side {
    margin-top: 15px !important;
}
.body-top-menu-style .vr-workspace-theme20 .ws-menu {
    margin-top: -2px !important;
    display: flex;
}
.body-top-menu-style .vr-workspace-theme20 .ws-menu .workspace-menu li {
    padding: 7px 2px !important;
}
.body-top-menu-style .vr-workspace-theme20 .ws-menu .workspace-menu li a {
    font-size: 14px !important;
    /*text-transform: capitalize !important;*/
}
.body-top-menu-style .vr-workspace-theme20 .right-side {
    margin-top: -77px !important;;
}
.body-top-menu-style .vr-workspace-theme20 .close-btn {
    top: -42px !important;
    right: 0 !important;
}
.body-top-menu-style .vr-workspace-theme20 .left-side .profile-userpic {
    padding-top: 10px !important;
}
.body-top-menu-style .vr-workspace-theme20 .ws-menu ul.workspace-menu ul.sub-menu {
    margin-top: 10px !important;
}
.body-top-menu-style .vr-workspace-theme20 .workspace-part .meta-toolbar {
	background: none !important;
}
.vr-workspace-theme20 .card.ws-widget-light {
	background-color: #fff !important;
}
.vr-workspace-theme20 .card.ws-widget-light > .card-title > .caption.caption-md > .caption-subject {
    color: #505050 !important;
}
.vr-workspace-theme20 .widget-body {
	
}
.vr-workspace-theme20 .widget-body .viewer-container {
	margin-top: 0 !important;
}
.vr-workspace-theme20 .thumbnail {
    padding: 0px !important;
    border: none !important;
}
.vr-workspace-theme20 .ws-department-icon {
    background-image: url(../img/department.png);
    background-repeat: no-repeat;
    background-position: 1px;
}
.vr-workspace-theme20 .ws-position-icon {
    background-image: url(../img/position.png);
    background-repeat: no-repeat;
    background-position: 1px;
}
.vr-workspace-theme20 .ws-type-icon {
    background-image: url(../img/type.png);
    background-repeat: no-repeat;
    background-position: 1px;
}
.vr-workspace-theme20 .ws-status-icon {
    background-image: url(../img/status.png);
    background-repeat: no-repeat;
    background-position: 1px;
}
.vr-workspace-theme20 .ws-salary-icon {
    background-image: url(../img/salary.png);
    background-repeat: no-repeat;
    background-position: 1px;
}
.vr-workspace-theme20 .ws-start-date-icon {
    background-image: url(../img/start_date.png);
    background-repeat: no-repeat;
    background-position: 1px;
}
.vr-workspace-theme20 .ws-work-start-date-icon {
    background-image: url(../img/work_start_date.png);
    background-repeat: no-repeat;
    background-position: 1px;
}